<!-- <div class="limiter mt-5">
  <div class="container-login100">
    <div class="wrap-login100 p-t-90 p-b-30">
      <form action="#" 
      class="login100-form validate-form">
        <span class="login100-form-title p-b-40 mb-2">
          Login to Your Udemy Account!
        </span>

        <div>
          <a href="#" class="btn-login-with bg1 m-b-10 mb-3">
            <i class="fa fa-facebook-official"></i>
            Continue with Facebook
          </a>

          <a href="#" class="btn-login-with bg2 mb-3">
            <i class="fa fa-google "></i>
            Continue with Google
          </a>
          <a href="#" class="btn-login-with bg-dark ">
            <i class="fa fa-apple"></i>
            Continue with App
          </a>
        </div>

        <div class="wrap-input100 validate-input m-b-16 mt-5" data-validate="Please enter email: ex@abc.xyz">
          <input class="input100 mb-3" type="email" name="email" placeholder="Email" required>
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input m-b-20" data-validate="Please enter password">
          <span class="btn-show-pass">
            <i [class]="show ? 'fa fa fa-eye' : 'fa fa fa-eye-slash'" (click)="password()"></i>
          </span>
          <input class="input100 mb-3" class="input100 mb-3" [type]="show ? 'text' : 'password'" placeholder="Password" required>
          <span class="focus-input100"></span>
        </div>

        <div class="container-login100-form-btn">
          <button  class="login100-form-btn m-3" type="submit">
            Login
          </button>
        </div>
        <div class="flex-col-c p-t-224 text-center mb-3">
          <span class="txt2 p-b-10">
            OR
          </span>
          <a href="#" class="txt3 bo1 hov1">
            Forgot Password
          </a>
        </div>

        <div class="flex-col-c p-t-224">
          <span class="txt2 p-b-10">
            Don’t have an account?
          </span>

          <a href="#" class="txt3 bo1 hov1">
            Sign up now
          </a>
        </div>

      </form>
    </div>
  </div>
  <div class="col-12">
    <div class="border-top mt-2"></div>
  </div>
  <div class="ml-5 mt-3 h4 col-8">
    Top companies choose<span class=" text-primary "> Udemy for Business </span> to build in-demand career skills.

  </div>
</div> -->

<div id="container" class="col-sm-10 col-md-7 col-lg-4 col-xl-4">
  <div>
    <div class=" border border-top-0 border-right-0 border-left-0">
      <p><b>Log In to Your Udemy Account !</b></p>
    </div>
    
    <div class="card-body">
 <!------- Error Message ------->
       <div *ngIf="errorMessage" class="alert alert-warning">{{errorMessage}}</div>


        <!------- Start Form ------->
      <form [formGroup]="registerForm" (ngSubmit)="submit()">





        <!------- Email ------->
        <div class="mb-3">
          <div class="input-group CustomBorder rounded d-flex p-2 align-items-center"
            [ngClass]="{'OnErrorBorder': submitted && f.mail.errors }">
            <div class="input-group-prepend">
              <i class="fa fa-envelope fa-sm fa-fw text-muted"></i>
            </div>
            <input type="email" class="form-control border-0" placeholder="Email" id="exampleInputEmail1"
              formControlName="mail" [ngClass]="{ 'is-invalid': submitted && f.mail.errors }">


          </div>
       
          <!------- Email validation------->
          <div *ngIf="submitted && f.mail.errors" class="error">
            <div *ngIf="f.mail.errors.required">Email is required</div>
            <div *ngIf="f.mail.errors.pattern">
              invalid email address must be in form xxx@xxxx.com 
            </div>
          </div>
        </div>



        <!------- password ------->
        <div class="mb-3">
         
          <div class="input-group CustomBorder rounded d-flex p-2 align-items-center"
          [ngClass]="{'OnErrorBorder': submitted && f.mail.errors }">
            <div class="input-group-prepend">
              <i class="fa fa-lock fa-sm fa-fw text-muted"></i>
            </div>
            <input [type]="show ? 'text' : 'password'" class="form-control border-0" placeholder="Password"
              id="exampleInputPassword1" formControlName="password" [ngClass]="{
              'is-invalid': submitted && f.password.errors }">

            <div *ngIf="f.password.value" class="input-group-append" (click)="show = !show">
              <i [class]="show ? 'fa fa fa-eye' : 'fa fa fa-eye-slash'"></i>
            </div>

 </div>

        
          <!------- Password validation------->
  <div *ngIf="submitted && f.password.errors" class="error">
    <div *ngIf="f.password.errors.required">
      password is required
    </div>
  </div>
         
        </div>


       


        <button id="register" type="submit" class="btn btn-danger col-sm-12">Log In</button>

      </form>

       <!------- End Form ------->
    </div>

    <div class="card-footer text-muted text-center">
      Don't have an account? <a routerLink="studentreg">Sign up</a>
    </div>
  </div>
</div>