<div class="container">
    <pre>
</pre>
    <div class="row-fluid" style="height: 900px;">

        <div class="logo">
            <div class="logo-img">
                <img src="../../assets/icon3.PNG">
            </div>
        </div>
        <br>
        <br>
        <br>
        <div>
            <img src="../../assets/icon4.PNG" class="rounded mx-auto d-block" alt="...">
        </div>
        <div class="h1">
            <h3>No questions yet</h3>
            <h4>Q&A is a forum where your students can ask questions, hear</h4>
            <h4>your responses, and respond to one another. Here’s where</h4>
            <h4>you’ll see your courses’ Q&A threads</h4>
        </div>
    </div>
</div>