
<pre>




<pre> 

</pre>
<div class="container mt-5 ">
  <h1>Web Development Courses</h1>
  <h3>Courses to get you started</h3>
  <mat-tab-group>
    <mat-tab label="Most Popular">
       <!-- Content 1 -->
       <div class=" offset-md-1 col-md-11">
         <carousel [loop]="true" [cellsToScroll]="1" [objectFit]="'cover'"    [lightDOM]="true" class="carousel--slider-alignment  w-100 ">

          <div class="carousel-cell ">
            <div class="card card-border-none ">
              <img  class="card-img-top img-fluid" src="../../assets/4.jpg"/>
              <div class="card-body">
                <h3 class="card-title"> Web Development Bootcap 2021</h3>
                <div class="card-text">
                  <p > name of auther</p>
                  <span class="text-warning mr-3"> 4.5</span>
                  <i class="fa fa-star text-warning mr-1"></i>
                  <i class="fa fa-star text-warning mr-1"></i>
                  <i class="fa fa-star text-warning mr-1"></i>
                  <i class="fa fa-star text-warning mr-1"></i>
                  <i class="fa fa-star text-warning m-1"></i>
                  <span>(number of using)</span>
                  <p>price</p><span>discount</span>
                </div>
              </div>
            </div>
          </div>


          <div class="carousel-cell ">
            <div class="card card-border-none ">
              <img  class="card-img-top img-fluid" src="../../assets/3.jpg"/>
              <div class="card-body">
                <h3 class="card-title"> Web Development Bootcap 2021</h3>
                <div class="card-text">
                  <p > name of auther</p>
                  <span class="text-warning mr-3"> 4.5</span>
                  <i class="fa fa-star text-warning mr-1"></i>
                  <i class="fa fa-star text-warning mr-1"></i>
                  <i class="fa fa-star text-warning mr-1"></i>
                  <i class="fa fa-star text-warning mr-1"></i>
                  <i class="fa fa-star text-warning m-1"></i>
                  <span>(number of using)</span>
                  <p>price</p><span>discount</span>
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-cell ">
           <div class="card card-border-none ">
              <img  class="card-img-top img-fluid" src="../../assets/5.jpg"/>
              <div class="card-body">
                <h3 class="card-title"> Web Development Bootcap 2021</h3>
                <div class="card-text">
                  <p > name of auther</p>
                  <span class="text-warning mr-3"> 4.5</span>
                  <i class="fa fa-star text-warning mr-1"></i>
                  <i class="fa fa-star text-warning mr-1"></i>
                  <i class="fa fa-star text-warning mr-1"></i>
                  <i class="fa fa-star text-warning mr-1"></i>
                  <i class="fa fa-star text-warning m-1"></i>
                  <span>(number of using)</span>
                  <p>price</p><span>discount</span>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-cell ">
            <div class="card card-border-none ">
              <img  class="card-img-top img-fluid" src="../../assets/3.jpg"/>
              <div class="card-body">
                <h3 class="card-title"> Web Development Bootcap 2021</h3>
                <div class="card-text">
                  <p > name of auther</p>
                  <span class="text-warning mr-3"> 4.5</span>
                  <i class="fa fa-star text-warning mr-1"></i>
                  <i class="fa fa-star text-warning mr-1"></i>
                  <i class="fa fa-star text-warning mr-1"></i>
                  <i class="fa fa-star text-warning mr-1"></i>
                  <i class="fa fa-star text-warning m-1"></i>
                  <span>(number of using)</span>
                  <p>price</p><span>discount</span>
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-cell ">
            <div class="card card-border-none ">
              <img  class="card-img-top img-fluid" src="../../assets/4.jpg"/>
              <div class="card-body">
                <h3 class="card-title"> Web Development Bootcap 2021</h3>
                <div class="card-text">
                  <p > name of auther</p>
                  <span class="text-warning mr-3"> 4.5</span>
                  <i class="fa fa-star text-warning mr-1"></i>
                  <i class="fa fa-star text-warning mr-1"></i>
                  <i class="fa fa-star text-warning mr-1"></i>
                  <i class="fa fa-star text-warning mr-1"></i>
                  <i class="fa fa-star text-warning m-1"></i>
                  <span>(number of using)</span>
                  <p>price</p><span>discount</span>
                </div>
              </div>
            </div>
          </div>
         </carousel>

       </div>

       <!-- content1 -->
       </mat-tab>
    <mat-tab label="Trend">
       <!-- Content 2  -->
       <div class=" offset-md-1 col-md-11">
        <carousel [loop]="true" [cellsToScroll]="1" [objectFit]="'cover'"   [lightDOM]="true" class="carousel--slider-alignment  w-100 ">

         <div class="carousel-cell ">
           <div class="card card-border-none ">
             <img  class="card-img-top img-fluid" src="../../assets/6.jpg"/>
             <div class="card-body">
               <h3 class="card-title"> Become A Development from </h3>
               <div class="card-text">
                 <p > name of auther</p>
                 <span class="text-warning mr-3"> 4.5</span>
                 <i class="fa fa-star text-warning mr-1"></i>
                 <i class="fa fa-star text-warning mr-1"></i>
                 <i class="fa fa-star text-warning mr-1"></i>
                 <i class="fa fa-star text-warning mr-1"></i>
                 <i class="fa fa-star text-warning m-1"></i>
                 <span>(number of using)</span>
                 <p>price</p><span>discount</span>
               </div>
             </div>
           </div>
         </div>


         <div class="carousel-cell ">
           <div class="card card-border-none ">
             <img  class="card-img-top img-fluid" src="../../assets/7.jpg"/>
             <div class="card-body">
               <h3 class="card-title"> learn Html and Css</h3>
               <div class="card-text">
                 <p > name of auther</p>
                 <span class="text-warning mr-3"> 4.5</span>
                 <i class="fa fa-star text-warning mr-1"></i>
                 <i class="fa fa-star text-warning mr-1"></i>
                 <i class="fa fa-star text-warning mr-1"></i>
                 <i class="fa fa-star text-warning mr-1"></i>
                 <i class="fa fa-star text-warning m-1"></i>
                 <span>(number of using)</span>
                 <p>price</p><span>discount</span>
               </div>
             </div>
           </div>
         </div>

         <div class="carousel-cell ">
           <div class="card card-border-none ">
             <img  class="card-img-top img-fluid" src="../../assets/8.jpg"/>
             <div class="card-body">
               <h3 class="card-title"> Learn full Stack Development </h3>
               <div class="card-text">
                 <p > name of auther</p>
                 <span class="text-warning mr-3"> 4.5</span>
                 <i class="fa fa-star text-warning mr-1"></i>
                 <i class="fa fa-star text-warning mr-1"></i>
                 <i class="fa fa-star text-warning mr-1"></i>
                 <i class="fa fa-star text-warning mr-1"></i>
                 <i class="fa fa-star text-warning m-1"></i>
                 <span>(number of using)</span>
                 <p>price</p><span>discount</span>
               </div>
             </div>
           </div>
         </div>
         <div class="carousel-cell ">
           <div class="card card-border-none ">
             <img  class="card-img-top img-fluid" src="../../assets/6.jpg"/>
             <div class="card-body">
               <h3 class="card-title"> Web Development Bootcap 2021</h3>
               <div class="card-text">
                 <p > name of auther</p>
                 <span class="text-warning mr-3"> 4.5</span>
                 <i class="fa fa-star text-warning mr-1"></i>
                 <i class="fa fa-star text-warning mr-1"></i>
                 <i class="fa fa-star text-warning mr-1"></i>
                 <i class="fa fa-star text-warning mr-1"></i>
                 <i class="fa fa-star text-warning m-1"></i>
                 <span>(number of using)</span>
                 <p>price</p><span>discount</span>
               </div>
             </div>
           </div>
         </div>

         <div class="carousel-cell ">
           <div class="card card-border-none ">
             <img  class="card-img-top img-fluid" src="../../assets/7.jpg"/>
             <div class="card-body">
               <h3 class="card-title"> Web Development Bootcap 2021</h3>
               <div class="card-text">
                 <p > name of auther</p>
                 <span class="text-warning mr-3"> 4.5</span>
                 <i class="fa fa-star text-warning mr-1"></i>
                 <i class="fa fa-star text-warning mr-1"></i>
                 <i class="fa fa-star text-warning mr-1"></i>
                 <i class="fa fa-star text-warning mr-1"></i>
                 <i class="fa fa-star text-warning m-1"></i>
                 <span>(number of using)</span>
                 <p>price</p><span>discount</span>
               </div>
             </div>
           </div>
         </div>
        </carousel>

      </div>

       <!-- Content2  -->
    </mat-tab>

  </mat-tab-group>

  <!--   Start Feature coures  -->
  <div class="h2">
    Feature Coures
  </div>

  <div class="border ">
    <mdb-carousel [animation]="'slide'"  >
      <!--start 1 -->
      <mdb-carousel-item>

        <div class="row">
          <div class="col">
            <img  class="m-3 w-100"  src="../../assets/10.png"  alt="Featur Image"/>
          </div>
          <div class="col m-3">
            <h1> Node.js  -- to learn more</h1>
            <p> Learn how to  build wenb site using node.js and angular</p>
            <span> By name of auther </span><br/>
            <span class="text-success" > Update </span><span> 20-5-2021 Beginner  . 22 lecture .122 hour </span><br/>
            <span class="text-warning mr-3"> 4.5</span>
            <i class="fa fa-star text-warning mr-1"></i>
            <i class="fa fa-star text-warning mr-1"></i>
            <i class="fa fa-star text-warning mr-1"></i>
            <i class="fa fa-star text-warning mr-1"></i>
            <i class="fa fa-star text-warning m-1"></i>
            <span>(200)</span>
            <small  style="background-color: rgb(241, 153, 153); color: #000;"> Hot& new</small>

            </div>

        </div>

      </mdb-carousel-item>
      <!--end 1 -->
    </mdb-carousel>

  </div>


  <!--  End Feature Coures -->

  <!-- Start Popular Topic -->

<div class="h2">
Popular Topic
</div>
<carousel [loop]="true" [cellsToScroll]="1" [objectFit]="'cover'"    [lightDOM]="true">
<!-- start carousel-cell-->
  <div class="carousel-cell ">
  
    <!-- start container of row -->
    <div class="row">
    <div class="col m-3">
      <div class="row ">
       <button  class="btn btn-outline-default border p-3 btn-lg">Python </button>
      </div>
      <div class="row mt-3">
        <button  class="btn btn-outline-default border p-3 btn-lg"> Web Developer</button>
      </div>
    </div>
    </div>
<!-- end carousel-cell -->
  </div>
<!-- start carousel-cell-->
<div class="carousel-cell ">
<div class="row">
    <div class="col m-3">
      <div class="row ">
       <button  class="btn btn-outline-default border p-3 btn-lg ">Java Script </button>
      </div>
      <div class="row mt-3">
        <button  class="btn btn-outline-default border p-3 btn-lg "> Data Science</button>
      </div>
    </div>
  </div>
    
<!-- end carousel-cell -->
  </div>

<!-- start carousel-cell-->
<div class="carousel-cell ">
  <div class="row">

    <div class="col m-3">
      <div class="row ">
       <button  class="btn btn-outline-default border p-3  btn-lg">C++ </button>
      </div>
      <div class="row mt-3">
        <button  class="btn btn-outline-default border p-3 btn-lg "> Java</button>
      </div>
    </div>

  </div>
    
  <!-- end carousel-cell -->
    </div>

    <!-- start carousel-cell-->
<div class="carousel-cell ">
  <div class="row">

    <div class="col m-3">
      <div class="row ">
       <button  class="btn btn-outline-default border p-3 btn-lg ">React </button>
      </div>
      <div class="row mt-3">
        <button  class="btn btn-outline-default border p-3 btn-lg"> C</button>
      </div>
    </div>
  </div>
    
  <!-- end carousel-cell -->
    </div>

        <!-- start carousel-cell-->
<div class="carousel-cell ">
  <div class="row">

    <div class="col m-3">
      <div class="row ">
       <button  class="btn btn-outline-default border p-3  btn-lg">C# </button>
      </div>
      <div class="row mt-3">
        <button  class="btn btn-outline-default border p-3  btn-lg"> Node.js</button>
      </div>
    </div>
  </div>
    
  <!-- end carousel-cell -->
    </div>

           <!-- start carousel-cell-->
<div class="carousel-cell ">
  <div class="row">

    <div class="col m-3">
      <div class="row ">
       <button  class="btn btn-outline-default border p-3  btn-lg">C# </button>
      </div>
      <div class="row mt-3">
        <button  class="btn btn-outline-default border p-3  btn-lg"> Node.js</button>
      </div>
    </div>
  </div>
    
  <!-- end carousel-cell -->
    </div>

  </carousel >


  <!-- End Popular Topic  -->
  <!-- Start Popular Instructors -->

  <!-- End Popular Instructors -->




</div>
