.carousel--slider-alignment{
  height:30rem !important;
 margin-bottom:0 ;
  position: static;


}
.carousel--slider-topic {
  position: relative;
  width: 100vw !important;
}
.carousel--slider-alignment p, .carousel--slider-alignment h3{
  margin: 0%;
}
/* .card-img-top{
 height: 30vh;
} */
.card-text p, .card-text span{
  color: rgb(129, 129, 129);
}

 p, span{
  color: rgb(129, 129, 129);
 }
 .Instructors--slider-alignment{
  width:30rem !important;
 margin-bottom:0 ;
  position: static;
 }
h1{
  font-size:xx-large;
}
h3{
  font-size: large;
}

#cours {
  /* float: left; */
   display:inline-block ; 
  /* display:table-cell; */
 }  
#all{
 
  overflow: auto;
 
}
#instructor{
 
  height:22rem;

}
#img{
 width:120px;
 height: 60px;
border-radius: 30px;
 margin:0px;

 
}
/* button{
  background-color: white;
} */
#topic{
  width:13rem;
}
.cardbord{
  display:flex;
  border:2px solid red;
  background-color: lightgreen;
  width: 20%;
  height: 50%;
  border-radius: 7%;
}
.crd{
  width:20%;
  height:20%;
  padding-right: 5px;
  border:2px solid burlywood;
  background-color: lightsalmon;
  border-radius: 7%;
  overflow-x: scroll;

}
.mCard{
  height: 50%;
  width: 50%;
  margin-right: 1%;
  padding: .5%;
  border: 1px solid red ;

}
.carouselcontainer{
  margin-top: 17vh;
  height: 70%;
  width: 100%;
  background-color: rgb(116, 135, 136);
  border : 1px solid orchid;
}
.img{
  width: 150px;
  height: 150px;
}

