.carousel--slider-alignment{
  height:30rem !important;
 margin-bottom:0 ;
  position: static;


}
.carousel--slider-topic {
  position: relative;
  width: 100vw !important;
}
.carousel--slider-alignment p, .carousel--slider-alignment h3{
  margin: 0%;
}
/* .card-img-top{
 height: 30vh;
} */
.card-text p, .card-text span{
  color: rgb(129, 129, 129);
}

 p, span{
  color: rgb(129, 129, 129);
 }
 .Instructors--slider-alignment{
  width:30rem !important;
 margin-bottom:0 ;
  position: static;
 }
h1{
  font-size:xx-large;
}
h3{
  font-size: large;
}

#cours {
  /* float: left; */
   display:inline-block ; 
  /* display:table-cell; */
 }  
#all{
 
  overflow: auto;
 
}
#instructor{
 
  height:22rem;

}
#img{
 width:120px;
 height: 60px;
border-radius: 30px;
 margin:0px;

 
}
/* button{
  background-color: white;
} */
#topic{
  width:13rem;
}