<pre>



</pre>
<div class="container mt-5 " >
  <h1>{{category?.categoryName}} Courses</h1>
  <h3 class="font-weight-bold mt-3">Courses to get you started</h3>

      <!-- Content 1 -->
        <section class="blog-area section ">
          <div class="container">
              <div class="row ">
                  <div class="col-lg-4 col-md-6 mt-4 mb-5 " routerLink="/topnav/course/{{item?.crsId}}"  *ngFor="let item of courses |paginate: { itemsPerPage: 3, currentPage: p }
                  ">
                      <div class="card h-100 ">
                          <div class="single-post post-style-1">

                              <div class="blog-image">
                                  <img class="card-img-top img-fluid"  src="{{item.imagePath}}" alt="blog image">
                              </div>
                              <div class="card-body">
                                <h3 class="card-title"> {{item.title}}</h3>
                                <div class="card-text">
                                  <p> {{item.author}}</p>
                                  <span class="text-warning mr-3"> {{item.rate}}</span>
                                  <i class="fa fa-star text-warning mr-1"></i>
                                  <i class="fa fa-star text-warning mr-1"></i>
                                  <i class="fa fa-star text-warning mr-1"></i>
                                  <i class="fa fa-star text-warning mr-1"></i>
                                  <span>{{item.levels}}</span>
                                  <p>{{item.languge}}</p><span>{{item.state}}</span>
                                </div>
                              </div>
                          </div>

                      </div>

                  </div>
              </div>

          </div>

      </section>
      <pagination-controls class="text-center mt-5" (pageChange)="p = $event"></pagination-controls> 

      <!-- content1 -->





      <!-- Content2  -->


  <!--   Start Feature coures  -->
  <div class="h2 border-top mt-5 ">Featured Courses</div>
  <div class="border m-5 ">

    <mdb-carousel [animation]="'slide'">
      <!--start 1 -->
      <mdb-carousel-item routerLink="/topnav/course/{{item?.crsId}}" *ngFor="let item of courses">

        <div class="row p-4">
          <div class="col">
            <img class="m-3 w-100" src="{{item.imagePath}}" alt="Featur Image" />
          </div>
          <div class="col m-3">
            <h1>{{item.title}}</h1>
            <p> {{item. description}}</p>
            <span> By name of auther </span><br />
            <span class="text-success"> Update </span><span> 20-5-2021 Beginner . 22 lecture .122 hour </span><br />
            <span class="text-warning mr-3"> {{item.rate}} 4.5</span>
            <i class="fa fa-star text-warning mr-1"></i>
            <i class="fa fa-star text-warning mr-1"></i>
            <i class="fa fa-star text-warning mr-1"></i>
            <i class="fa fa-star text-warning mr-1"></i>

            <span>(200)</span>
            <small class="badge bg-warning"> Hot& new</small>

          </div>

        </div>

      </mdb-carousel-item>

      <!--end 1 -->

    </mdb-carousel>
  </div>

  <!-- end Featured-Courses-->

  <!-- Start Popular Topic -->
  <div class="h2">
    Popular Topic
  </div>

      <div class="row ">
        <div class="col">
          <div class="row">
            <div class=" m-3 col w-100"  [routerLink]="['/topnav/topic/',item.topId]" *ngFor="let item of Topics">
              <button class="btn  text-primary border p-3" id="topic">{{item.topName}} </button>
            </div>
          </div>
        </div>
      </div>



 
  <!-- End Popular Topic  -->

  <!-- Start Popular Instructors -->
  <div class="h2 border-to mt-4">
    Popular Instructors
  </div>


  <section class="blog-area section">
    <div class="container">
        <div class="row ">
            <div class="col-lg-4 col-md-6 mt-4 mb-5"   routerLink="/topnav/InsProfile/{{item?.instId}}" *ngFor="let item of Instructors |paginate: { itemsPerPage: 3, currentPage: p }">
                <div class="card h-100 ">
                  
                    <div class=" row">


                        <div class=" col circl ">
                           
                            <img class="card-img-top-1 img-fluid rounded-circle mt-3 ml-3  w-100"
                             src="{{item.imagPath }}" alt="blog image">
                        </div>
                        <div class=" col ">
                          <div class="card-body  ">
                          <h3 class="card-title m-0">{{item.fname+''+item.lname}}</h3>
                          <div class="card-text m-0">
                            <p class="m-0"> {{item.headLine}}</p>
                            <span class="text-warning mr-2 text-lg m-0 "> 4.5</span>
                            <i class="fa fa-star text-warning mr-2"></i>
                            <i class="fa fa-star text-warning mr-2"></i>
                            <i class="fa fa-star text-warning mr-2"></i>
                            <i class="fa fa-star text-warning mr-2"></i>
                            <br>
                            <span class="text-danger m-0 ">Instructor Rating</span>
                            <p class="m-0 text-dark"><b>8</b> Courses</p>
                          </div>
                        </div>
                        </div>
                    </div>
                  </div>
              

            </div>
        </div>

    </div>

</section>
<pagination-controls class="text-center mt-5" (pageChange)="p = $event"></pagination-controls> 
   
  <!-- End Popular Instructors -->

</div>