<p>top-categories works!</p>
<div class="carousel-cell ">
    <div class="card card-border-none ">
      <img class="card-img-top img-fluid" src="../../assets/4.jpg" />
      <div class="card-body">
        <h3 class="card-title"> Web Development Bootcap 2021</h3>
        <div class="card-text">
          <p> name of auther</p>
          <span class="text-warning mr-3"> 4.5</span>
          <i class="fa fa-star text-warning mr-1"></i>
          <i class="fa fa-star text-warning mr-1"></i>
          <i class="fa fa-star text-warning mr-1"></i>
          <i class="fa fa-star text-warning mr-1"></i>
          <i class="fa fa-star text-warning m-1"></i>
          <span>(number of using)</span>
          <p>price</p><span>discount</span>
        </div>
      </div>
    </div>
  </div>

