<nav class="navbar navbar-expand-sm navbar-light fixed-top mb-0  ">
  <img src= "../../assets/iconUdemy.ico" alt="icon Udemy"> <a class="navbar-brand  text-dark ml-1 mr-auto" href="home">Udemy</a>
  <form class="form-inline my-2 my-lg-0">
   <input class="form-control mr-sm-2 w-100" type="text" placeholder="Search" id="search">
   <!-- <input type="search" placeholder="Search"  id="search"> -->
</form>

   <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse  " id="collapsibleNavId">
       
       <div class="dropdown mr-5 ml-3">
        <button mat-button [matMenuTriggerFor]="animals" class="btn btn-outline-info">Categories</button>

    <mat-menu #animals="matMenu" class="mt-4">
      <button mat-menu-item [matMenuTriggerFor]="vertebrates">Vertebrates</button>
      <button mat-menu-item [matMenuTriggerFor]="invertebrates">Invertebrates</button>
    </mat-menu>
    
    <mat-menu #vertebrates="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="fish">Fishes</button>
      <button mat-menu-item [matMenuTriggerFor]="amphibians">Amphibians</button>
      <button mat-menu-item [matMenuTriggerFor]="reptiles">Reptiles</button>
      <button mat-menu-item>Birds</button>
      <button mat-menu-item>Mammals</button>
    </mat-menu>
    
    <mat-menu #invertebrates="matMenu">
      <button mat-menu-item>Insects</button>
      <button mat-menu-item>Molluscs</button>
      <button mat-menu-item>Crustaceans</button>
      <button mat-menu-item>Corals</button>
      <button mat-menu-item>Arachnids</button>
      <button mat-menu-item>Velvet worms</button>
      <button mat-menu-item>Horseshoe crabs</button>
    </mat-menu>
    
    <mat-menu #fish="matMenu">
      <button mat-menu-item>Baikal oilfish</button>
      <button mat-menu-item>Bala shark</button>
      <button mat-menu-item>Ballan wrasse</button>
      <button mat-menu-item>Bamboo shark</button>
      <button mat-menu-item>Banded killifish</button>
    </mat-menu>
    
    <mat-menu #amphibians="matMenu">
      <button mat-menu-item>Sonoran desert toad</button>
      <button mat-menu-item>Western toad</button>
      <button mat-menu-item>Arroyo toad</button>
      <button mat-menu-item>Yosemite toad</button>
    </mat-menu>
    
    <mat-menu #reptiles="matMenu">
      <button mat-menu-item>Banded Day Gecko</button>
      <button mat-menu-item>Banded Gila Monster</button>
      <button mat-menu-item>Black Tree Monitor</button>
      <button mat-menu-item>Blue Spiny Lizard</button>
      <button mat-menu-item disabled>Velociraptor</button>
    </mat-menu>
    
       </div>
       <li class="nav-link myDIV"> <a> Udemy for Bussines</a></li>
       <div class="card hide" style="width: 18rem;">
           <div class="card-body">

             <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
             <a href="#" class="btn btn-primary btn-block" > Try Udemy for Bussinese</a>
           </div>
         </div>
         <li class="nav-link myDIV1"> <a href="instreg"> Teach On udemy</a></li>
         <div class="card hide1" style="width: 18rem;">
             <div class="card-body">

               <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
               <a href="#" class="btn btn-primary btn-block" > Learn More..</a>
             </div>
           </div>
           <li class="nav-link myDIV1 mr-5"><i class="fa fa-shopping-cart fa-3x" aria-hidden="true"></i></li>
           <div class="card hide1" style="width: 18rem;">
               <div class="card-body">

                 <p class="card-text">Empty Card.</p>
                 <a href="#" class="btn btn-link btn-block" > Please Shopping more </a>
               </div>
             </div>

       <button class="btn btn-outline-info d-lg-inline mr-5" routerLink="login">Login </button>
       <button class="btn btn-info mr-3" routerLink="studentreg">SignIn</button>
 </div>





</nav>
<!-- end navbar -->
