<nav class="navbar navbar-expand-sm navbar-light fixed-top mb-0  ">
  <img src="../../assets/iconUdemy.ico" alt="icon Udemy" class="udemyIcon">
  <a class="navbar-brand  text-dark ml-1 mr-auto" href="topnav">Udemy</a>



  <button class="navbar-toggler d-lg-none " type="button" data-toggle="collapse" data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">


    <!-- start categories menu  -->
    <div class="dropdown mr-1 ml-1">

      <button mat-button [matMenuTriggerFor]="Categories"
        class="btn btn-outline-default border-0 text-secondary ">Categories</button>
    </div>
    <mat-menu #Categories="matMenu" class="Categories">


      <a mat-menu-item [matMenuTriggerFor]="reptiles" 
      *ngFor="let item of categories"
      [routerLink]="['/topnav/category/',item.categoryId]"
        (mouseenter)="AddId(item.categoryId)">{{item.categoryName}}</a>
    </mat-menu>
    <mat-menu #reptiles="matMenu" class="dropdown-submenu">
      <button mat-menu-item [matMenuTriggerFor]="repo" *ngFor="let item of subcateg "
        (mouseenter)="AddTopic(item.supCatId )">{{item.supCatTitle}}</button>

    </mat-menu>
    <mat-menu #repo="matMenu">
      <button mat-menu-item *ngFor="let item of topics ">{{item.topName}}</button>
    </mat-menu>

     <!-- end categories menu  -->


    <!------ Start Search ------>
    <form class="form-inline my-2 my-lg-0      ">
      <div class="input-group d-flex align-items-center pr-3 pl-1 py-1 " id="search" >
      <div class="input-group-prepend">
        <i class="fa fa-search m-2 fa-lg"></i>
      </div>
      <input type="text" class="form-control border-0 inputbg" type="text" placeholder="Search for anything" 
      [matAutocomplete]="auto" [(ngModel)]="searchText" [ngModelOptions]="{ standalone: true }">
    </div>

      
      <mat-autocomplete #auto="matAutocomplete" class="mt-4">
        <mat-option *ngFor="let option of Topics | filterByTopic:searchText;" [value]="option.topName"
        (click)="GoTotopics(option.topId)" >
          <i class="fa fa-search fa-sm fa-fw text-info"></i> {{option.topName}}
        </mat-option>
        <mat-option *ngFor="let option of Instructors | filterByIns:searchText;" [value]="option.fname" 
        (click)="GoToInstructorProfile(option.instId)" 
        >
          <fa-icon [icon]="faUser" class="fa-sm fa-fw text-info"></fa-icon> {{option.fname}}
        </mat-option>
        <mat-option *ngFor="let option of Courses | filterByCrs:searchText;" [value]="option.title"
        (click)="GoToCourse(option.crsId)" >
          <fa-icon [icon]="faFile" class="fa-sm fa-fw text-info"></fa-icon> {{option.title}}
        </mat-option>
      </mat-autocomplete>
    </form>

   <!------ End Search ------>


    <li class="nav-link myDIV  "> <a class="text-secondary" routerLink="comming"> Udemy for Bussines</a></li>

    <div class="card hide" style="width: 18rem;">
      <div class="card-body">

        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary btn-block"> Try Udemy for Bussinese</a>
      </div>
    </div>

    <li class="nav-link myDIV1 " *ngIf="!login"><a routerLink="instreg" class="text-secondary"> Teach On udemy</a></li>

    <div class="card hide1" style="width: 18rem;">
      <div class="card-body">

        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary btn-block"> Learn More..</a>
      </div>
    </div>


    <li class="nav-link DivIcon   "><i class=" fa fa-shopping-cart text-secondary cartIcon fa-2x" aria-hidden="true"></i></li>

    <div class="card hide1" style="width: 18rem;">
      <div class="card-body">

        <p class="card-text">Empty Card.</p>
        <a href="#" class="btn btn-link btn-block"> Please Shopping more </a>
      </div>
    </div>



    <button *ngIf="!login" class="btn btn-outline-info d-lg-inline   border navBtnz mr-1" routerLink="login">Log in </button>
    <button *ngIf="!login" class="btn btn-info border navBtnz mr-1 " routerLink="studentreg">Sign Up</button>
    <button *ngIf="!login" class="btn btn-outline-secondary border " ><i class="fa fa-globe text-secondary" aria-hidden="true"></i></button>
    <a *ngIf="isInstructor" class="text-secondary mr-3" routerLink="../sidnav">instructor</a>
    <a *ngIf="isStudent" class="text-secondary  mr-3 " [routerLink]="['StdCrs', user?.stdId]">My learning</a>
    <a *ngIf="login">
      <div *ngIf="!isImg" class="rounded-circle d-flex justify-content-center bg-success ml-4" style="width: 60px; height: 60px"
          [popover]="myPopover" [popoverOnHover]="true" [popoverCloseOnMouseOutside]="true">
          <span [routerLink]="isInstructor ? ['../sidnav/editIns', user?.instId] : ['/topnav/editStd', user?.stdId]"
           class="h5 p-3 text-white">{{
             char 
              }}</span>
      </div>
      <div *ngIf="isImg"  [popover]="myPopover" [popoverOnHover]="true" [popoverCloseOnMouseOutside]="true">
      <span [routerLink]="isInstructor ? ['../sidnav/editIns', user?.instId] : ['/topnav/editStd', user?.stdId]"
       class="h5 p-3 text-white">
      <img [src]="isInstructor ? user?.imagPath : user?.imagePath" class="rounded-circle  ml-4" width="50px" height="50px">
      </span>
  </div>
   </a>
  <popover-content #myPopover popoverPlacement="bottom right" [closeOnClickOutside]="true" [closeOnMouseOutside]="true">
    <div style=" width: 15rem; ">

        <div class="row">
          
            <div class="col-4 "> <a [routerLink]="['../sidnav/editIns', user?.instId]">
                    <div class="rounded-circle d-flex justify-content-center  bg-success "
                        style="width: 60px; height: 60px">
                        <span class="h5 p-3 text-white">{{
                          char
                            }}</span>
                    </div>
                </a></div>
            <div class="col-8 text-left  ">
                <p>{{user?.fname}}</p>
                <p class="text-muted">{{user?.mail}}</p>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-borderless" style="width: 18rem; text-align: left;">
                <tr>
                    <td> My notifications</td>
                </tr>
                <tr>
                    <td>Public Profile</td>
                </tr>
                <tr>
                    <td> Account</td>
                </tr>
                <tr>
                    <td>Payout settings</td>
                </tr>
                <tr>
                    <td><a (click)="logout()"> Logout</a></td>
                </tr>

            </table>
        </div>
        <div class="card-footer text-left">
            <h3>Udemy For Business</h3>
            <p>Bring learning to your company</p>
        </div>
    </div>
</popover-content>

    <!-- <select class="form-input btn btn-outline-default  d-lg-inline slang" aria-label="Default select example">
        <option selected>Lang</option>
        <option value="en">English</option>
        <option value="ar">Arabic</option>
      </select> -->

  </div>


</nav>