<nav class="navbar navbar-expand-sm navbar-light fixed-top mb-0  ">
  <img src="../../assets/iconUdemy.ico" alt="icon Udemy" class="udemyIcon">
  <a class="navbar-brand  text-dark ml-1 mr-auto" href="home">Udemy</a>



  <button class="navbar-toggler d-lg-none " type="button" data-toggle="collapse" data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse  " id="collapsibleNavId">

    <div class="dropdown mr-1 ml-1">

      <button mat-button [matMenuTriggerFor]="Categories"
        class="btn btn-outline-default border-0 text-secondary  ">Categories</button>
    </div>
    <mat-menu #Categories="matMenu" class="Categories">
      <a mat-menu-item [matMenuTriggerFor]="Development" routerLink="category">Development</a>
      <a mat-menu-item [matMenuTriggerFor]="amphibians" routerLink="category">Business</a>
      <a mat-menu-item [matMenuTriggerFor]="reptiles" routerLink="category">Finance & Accouting</a>
      <a mat-menu-item [matMenuTriggerFor]="reptiles" routerLink="category">IT & Software</a>
      <a mat-menu-item [matMenuTriggerFor]="reptiles" routerLink="category">Office Productivity</a>
      <a mat-menu-item [matMenuTriggerFor]="reptiles" routerLink="category">Personal Development</a>
      <a mat-menu-item [matMenuTriggerFor]="reptiles" routerLink="category">Design</a>
      <a mat-menu-item [matMenuTriggerFor]="reptiles" routerLink="category">Marketing</a>
      <a mat-menu-item [matMenuTriggerFor]="reptiles" routerLink="category">Lifestyle</a>
      <a mat-menu-item [matMenuTriggerFor]="reptiles" routerLink="category">Photography & Video</a>
      <a mat-menu-item [matMenuTriggerFor]="reptiles" routerLink="category">Health & Fitness</a>
      <a mat-menu-item [matMenuTriggerFor]="reptiles" routerLink="category">Music</a>
      <a mat-menu-item [matMenuTriggerFor]="reptiles" routerLink="category">Teaching & Academics</a>
    </mat-menu>

    <mat-menu #Development="matMenu">
      <button mat-menu-item>Web Development </button>
      <button mat-menu-item>Data Science </button>
      <button mat-menu-item>Mobile Development</button>
    </mat-menu>

    <mat-menu #fish="matMenu">
      <button mat-menu-item>Baikal oilfish </button>
      <button mat-menu-item>Bala shark </button>
      <button mat-menu-item>Ballan wrasse </button>
    </mat-menu>

    <mat-menu #amphibians="matMenu">
      <button mat-menu-item>Entrepreneurship </button>
      <button mat-menu-item>Western toad </button>
      <button mat-menu-item>Arroyo toad </button>
    </mat-menu>

    <mat-menu #reptiles="matMenu">
      <button mat-menu-item>Banded Day Gecko </button>
      <button mat-menu-item>Banded Gila Monster </button>
      <button mat-menu-item>Black Tree Monitor </button>
    </mat-menu>

    <form class="form-inline my-2 my-lg-0      ">
      <input class="form-control mr-sm-2 " type="text" placeholder="Search for anything" id="search">

    </form>

    <li class="nav-link myDIV  "> <a> Udemy for Bussines</a></li>

    <div class="card hide" style="width: 18rem;">
      <div class="card-body">

        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary btn-block"> Try Udemy for Bussinese</a>
      </div>
    </div>

    <li class="nav-link myDIV1 "> <a routerLink="instreg"> Teach On udemy</a></li>

    <div class="card hide1" style="width: 18rem;">
      <div class="card-body">

        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary btn-block"> Learn More..</a>
      </div>
    </div>


    <li class="nav-link DivIcon   "><i class=" fa fa-shopping-cart cartIcon fa-3x" aria-hidden="true"></i></li>

    <div class="card hide1" style="width: 18rem;">
      <div class="card-body">

        <p class="card-text">Empty Card.</p>
        <a href="#" class="btn btn-link btn-block"> Please Shopping more </a>
      </div>
    </div>


    <button class="btn btn-outline-info d-lg-inline   border navBtnz mr-3" routerLink="login">Log in </button>
    <button class="btn btn-info border navBtnz mr-3 " routerLink="studentreg">Sign Up</button>
    <button class="btn btn-outline-secondary border " routerLink="studentreg"><i class="fa fa-globe text-secondary" aria-hidden="true"></i></button>

  </div>


</nav>
end navbar
