

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="sidnav-button navbar-brand"> Udemy <i class="fa fa-bars" aria-hidden="true" (click)="inputSideNav.toggle()"></i></a>
<!--<a class="navbar-brand">Udemy</a>-->
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>

</button>
<div class="collapse navbar-collapse" id="navbarNavDropdown">
    
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
           
            <a class="nav-link dropdown-toggle" href="./udemy-profile" id="navbarDropdownMenuLink">
                <div class="photo">
               <img alt="profile photo" src="assets/profile.png" />
                </div>
                amira hashem
            </a>
           
            <div class="dropdown-menu"arial-labelladby="navbarDropdownMenuLink">
               
                <a class="dropdown-item" >profile</a>  
                <a class="dropdown-item">Logout</a> 
               <!--<i class="fa fa-bell-o" aria-hidden="true"></i>-->
            </div>
            
        </li>
        
    </ul>

    <i class="fa fa-bell-o" aria-hidden="true"></i>
</div>
</nav>
