<div class="container" style="width: 100%;"><pre>   
</pre>
<div class="row-fluid" style="height: 900px ;">
    <div class="logo">
        <div class="logo-imgg">
            <img src="../../assets/icon10.PNG">
        </div>
    </div>

    <div class="row">
      <!-- <div class="column"> -->
      <div class="col-sm-6"> 
          <div class="card">
            <div class="card-body">
              <img src="../../assets/icon12.PNG" class="logo-img">
              <br>
              <br>

              <!-- <h5 class="card-title">Special title treatment</h5> -->
              <a href="#"  ><h2 style="text-align: center;">Teaching center</h2></a>
              <p class="card-text">Find articles on Udemy teaching__ <br>from course creation to marketing.</p>
             
            </div>
          </div>
        </div>
        <!-- </div> -->

        <div class="col-sm-6"> 
          <!-- <div class="column"> -->
          <div class="card">
            <div class="card-body">
              <img src="../../assets/icon13.PNG" class="logo-img">
              <br>
              <br>

              <!-- <h5 class="card-title">Special title treatment</h5> -->
              <a href="#"  ><h2 style="text-align: center;">Marketplace Insights</h2></a>
              <p class="card-text">Share your progress and ask other instructors questions in our community.</p>
             
            </div>
          </div>
        </div>

      </div>
       <div class="col-sm-6"> 
        <!-- <div class="column"> -->
        <div class="card" >
          <div class="card-body">
            <img src="../../assets/icon14.PNG" class="logo-img">
            <br>
            <br>

            <!-- <h5 class="card-title">Special title treatment</h5> -->
            <a href="#"  ><h2 style="text-align: center;">Help and support</h2></a>
            <p class="card-text">Cant find what you need ?our support team is happyto help.</p>
           
          </div>
        </div> 
      </div> 

</div>
</div>
