<div class="container" style="width: 100%;"><pre>    
  </pre>
  <div class="row-fluid" style="height: 900px;">
  <div class="card mb-3">
    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
    <div class="card-body">
      <h5 class="card-title"></h5>
      <div class="row">
      <div class="col">
        <div class="logo-img">
          <img  class="card-img-top" src="../../assets/icon1.PNG">
          <h3 class="card-text">Jump Into Course Creation</h3></div>
      </div>
     <div class="col ">
     <a href="#" class=" btn btn-danger btn-lg active"id="button" role="button" aria-pressed="true">Create Your Course</a></div>
    </div>
    </div>
  </div>
  <br>
  <h3 class="h">Based on your experience, we think these resources will be helpful.</h3>
  <br>
  <br>
  <div class="card" style="height: 300px; width: 150;">
    <div class="card-body" style="height:100px;">
      <h2 class="card-title"> Create an Engaging Course</h2>
      <div class="logo-img2">
        <img  class="card-img-top" src="../../assets/icon2.PNG">

      <p class="hh">Whether you've been teaching for years or are teaching for the first time, you can
        <p class="hh">make an engaging course.We've compiled resources and best practices to help you</p>
          <p class="hh">  get to the next level, no matter where you're starting
          
            <br><a routerLink="/preCourseCreation" >get started</a></p>
          </div>
    </div>
    
  </div>
  <br>
  <div class="card container">
    <div class="row">
      <div class="col">
    <div class="card-body">
      <h2 class="card-title" > Get Started with Video</h2>
      <p class="hh">Quality video lectures can set your course apart. Use our resources to learn the basics..<br> <a routerLink="/preCourseCreation" >get started</a></p>   
    </div>
      </div>
      <div class="col">
    <div class="card-body">
      <h2 class="card-title" >Build Your Audience</h2>
      <p class="hh">Set your course up for success by building your audience.<br> <a routerLink="/preCourseCreation" >get started</a></p>  
    </div>
      </div>
  </div>
  </div>
</div>
</div>
  <!--<div class="container">
    <div class="row ">
      <div class="col">
        <h3>
          Jump Into Course Creation</h3>
      </div>
      <div class="col">
        
         

<a href="#" class="btn btn-danger btn-lg active" role="button" aria-pressed="true">Create Your Course</a>
      </div>
    </div>
      
      
 
  </div>-->


  