<!-- start Definition of Instructor -->
<div class="container">

  <div class="row">
    <br /><br />
    <div id="all">
      <div class=" m-auto w-100 d-flex row   ">
        <div class="col-lg-7 col-sm-12 mt-3 ">
          <h1 class="font-weight-bold  text-truncate ">{{ course?.title }}</h1>
          <h2 class="m-0 mb-2">{{ course?.description }}</h2>
          <p><b>Created by :</b><a routerLink="/topnav/InsProfile/{{course?.instructor?.instId}}">
              {{course?.instructor?.fname}} {{course?.instructor?.lname}}</a></p>
          <button class="btn btn-warning p-1">Rising Star</button>
          <span class="text-warning mr-3"> {{ course?.rate }}</span>
          <i class="fa fa-star text-warning mr-1"></i>
          <i class="fa fa-star text-warning mr-1"></i>
          <i class="fa fa-star text-warning mr-1"></i>
          <i class="fa fa-star text-warning mr-1"></i>
          <br />
          <span><span>({{course?.studentCourses?.length}})</span> Students are Enrolled </span>
          <div>
            <p class="fa fa-language fa-3x"></p> : {{course?.languge}}
          </div>
          <div>
            <span><b>Price</b></span> : <span>{{ course?.state }}</span>
          </div>
        </div>


        <!-- end Definition of Instructor -->


        <!-- start what you learn -->
        <!---->
        <div class="col-lg-5 col-sm-12 mt-4 " id="card">
          <mat-card class=" m-0">
            <img src="{{course?.imagePath }}" alt="Photo of a Shiba Inu" class="mb-2" id="imag">

            <mat-card-header>
              <div class="fa fa-2x font-weight-bold">
                <p *ngIf="course?.paymentMethod==0">Free</p>
                <p *ngIf="course?.paymentMethod==1">{{course?.price}} $</p>
              </div>
            </mat-card-header>
            <mat-card-actions>
              <div class="card-body d-inline justify-content-center">
                <div *ngIf="login && role =='student'" #t>
                  <div *ngIf="course.paymentMethod == 0 ">
                  <div class="container border" *ngIf="!enrolled">
                    <button class="btn btn-danger w-100" #enroll (click)="Enroll(t)"> Enroll</button>
                  </div>
                </div>
                </div>

                  <!--Paid Course-->
                  <div *ngIf="login && role =='student'">
                  <div *ngIf="course.paymentMethod != 0" class="container border">
                    <button class="btn btn-danger w-100" routerLink="/topnav/comming">Buy Now</button>
                  </div>
                  </div>


                <!-- <div class="text text-danger" *ngIf='alert'>
             Enrolled
           </div> -->

                <!--Not LoggedIn-->
                <div *ngIf="!login" class="alert alert-primary">
                  <a routerLink="/topnav/login">Start Learning Now</a>
                </div>


                <!--Student Already Enrolled-->
                <div class="alert alert-primary" role="alert" *ngIf="enrolled">
                  <a routerLink="/topnav/Content/{{course.crsId}}">Continue Learning</a>
                </div>


                <div class="alert alert-primary" role="alert" *ngIf="isProgress">
                  Enrolling ......
                </div>

                <!--Enrolled Succesfully-->
                <div class="alert alert-success" role="alert" *ngIf="alert">
                  Enrolled Successfully <strong><a routerLink="/topnav/Content/{{course.crsId}}">Start Learning
                    </a></strong>
                </div>

                <!--Owner Of the Course-->
                <div class="alert alert-success" role="alert"
                  *ngIf="role =='instructor' && loginId == course.instructor.instId">
                  <a routerLink="/sidnav/ManageCourse/{{course.crsId}}">Continue Managing your course!</a>
                </div>


              </div>

              <!-- <button  class="btn btn-outline-info  m-1 w-100">Add To Card</button> -->
            </mat-card-actions>
            <hr style="height:0px ">
            <mat-card-content>
              <h1> Training 5 or more people?</h1>
              <p>Get your team access to 5,500+ top Udemy courses anytime, anywhere. </p>
              <button class="btn btn-outline-info  m-1 w-100" routerLink="/topnav/comming">Try Udemy For Business</button>
            </mat-card-content>

          </mat-card>

        </div>
      </div>
    </div>
  </div>


  <div class=" row content mt-4">

    <div class="col-lg-6 col-sm-12 ">
      <h1 class="fw-bold">What You Will Learn</h1>
      <li>Learn to use {{ course?.title }} professionally</li>
      <li>
        Learn advanced{{ course?.title }} features, like the collections module
        and how to work with timestamps!
      </li>
      <li>
        Get an understanding of how to create GUIs in the Jupyter Notebook system!
      </li>
      <li>
        Build an army of powerful {{ course?.title }} models and know how to
        combine them to solve any problem
      </li>
    </div>
    <div class=" col-lg-6 col-sm-6 ">
      <li>
        Build a complete understanding of{{ course?.title }} Python from the
        ground up!
      </li>
      <li>Learn to use Object Oriented Programming with classes!</li>
      <li>
        Understand how to use both the Jupyter Notebook and create .py files
      </li>
      <li>Have a great intuition of many {{ course?.title }} models</li>
    </div>
  </div>


  <!-- End what you learn -->


  <!-- start Business Udemy -->
  <!-- <div class="business overflow-auto ml-5">
  <div class="float-left ml-3">
    <img src="../../assets/iconUdemy.ico" />
  </div>
  <div class="float-left ml-3">
    <h3>
      Curated for the<a class="text-info" routerLink="comming"> Udemy for Business</a> collection
    </h3>
  </div>
</div> -->
  <!-- end Business Udemy -->

  <!-- Start Collapse Courses -->
  <div class="row">
    <div class="h3 mt-5">Course content</div>

    <div class=" cllapsecontainer ml-5">
      <mat-accordion multi>
        <mat-expansion-panel hideToggle *ngFor="let item of sections;index as x">
          <mat-expansion-panel-header id="header">
            <mat-panel-title class="text-dark p-6" (mouseenter)="AddLecture(item.sectionId)">
              <h3>Section{{x+1}} :{{item?.title}}</h3>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <mat-accordion multi>
              <mat-expansion-panel id="panel" class="bg-white" *ngFor="let itemz of lectures">
                <mat-expansion-panel-header>
                  <mat-panel-title class="text-info">
                    {{itemz?.title}}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div>
                  <h4>{{itemz?.description}}</h4><br>
                  <video *ngIf="(login && role =='student' && enrolled) || (role =='instructor' && loginId == course.instructor.instId)" width="350px" height="200px"
                    src="{{itemz?.link}}" controls>
                  </video>
                  <p *ngIf="!login || role !='student' || !enrolled" class="text-center">Content for Enroll Student only
                  </p>
                </div>

              </mat-expansion-panel>
            </mat-accordion>
          </div>

        </mat-expansion-panel>

      </mat-accordion>
      <!-- end Collapse Courses -->



    </div>
  </div>

</div>

<!--Refresh Page-->
<!-- 

  this.router.navigateByUrl('/', { skipLocationChange: true }).then(() => {
        this.router.navigate(['/following']);
      });
     }
  )

    }

 -->
<!-- <div class="card" style="width: 18rem">
        <img
        src="{{course?.imagePath }}"  class="mb-2"
          class="card-img-top" alt=" Course Image must be here " />

        <div class="card-body d-inline justify-content-center">
          <div class="container border"  *ngIf="login && role =='student'" >
            <button class="btn btn-danger w-100" #enroll (click)="Enroll(t)" #t  [disabled]='enrolled' > Enroll</button>
          </div>

         <div class="text text-danger" *ngIf='alert'>
           Enrolled
         </div>

        </div>
      </div> -->