<!-- <app-registration-instructor></app-registration-instructor> -->
<!-- <app-registration-student></app-registration-student> -->
<!-- <app-home-page></app-home-page> -->


<router-outlet></router-outlet>


<!--<app-navigation-bar></app-navigation-bar>
<router-outlet></router-outlet>
<app-footer></app-footer>-->
<!--<app-pre-course-creation></app-pre-course-creation>-->

<!-- <router-outlet></router-outlet> -->

<!-- <app-edit-instrucror></app-edit-instrucror> -->
<!-- <app-side-nav></app-side-nav>
<app-footer></app-footer> -->
