<pre>



</pre>

<mat-horizontal-stepper linear #stepper>
  <!-- start step one -->
  <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Step 1</ng-template>
      <div class="h3 text-center m-3">
        Change The World Throw Your Ideas
      </div>
      <div class="col-sm-6 col-lg-3 m-auto">
      <div class=" text-center border w-100 " (click)="Display()" required>
        <i class="fa fa-file-video-o fa-3x mt-4 m-3 text-primary" aria-hidden="true"></i>
        <div class="m-3 h5 Video-header">Courses</div>
        <p class="m-sm-2 m-lg-4 Video-pragraph"> Create rich learning experiences with the help of video lectures
          , quizzes , coding exercises , etc </p>
      </div>
    </div>
      <div class="text-right mr-5">
        <button class="btn btn-outline-default border mr-5 mt-2 p-3" [ngClass]="{'btn-danger':!clicked}" matStepperNext
          [disabled]="clicked">continue</button>
      </div>
    </form>
  </mat-step>
  <!--  end step one -->

  <!-- start step two -->
  <!-- [stepControl]="secondFormGroup"-->
  <mat-step [editable]="isEditable">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Step 2</ng-template>
      <div class="h4 text-center Video-header mb-3">What Field best fits the Knowledge you'll share? </div>
      <!-- <p class="text-center m-4 Video-pragraph">you can change it later , if you 're not sure</p> -->


      <div class=" mb-4">
        <!--[(ngModel)]="SelectCategory.supCatId" -->
        <select class="form-select w-50 m-auto " formControlName="firstCtrl" (change)="onSelectCategory($event)"
          required>
          <option disabled value="" selected hidden>Choose Your Category ...</option>
          <option [value]="item.categoryId" *ngFor="let item of categories">{{item.categoryName}}</option>

        </select>
      </div>

      <select class="form-select w-50 m-auto" formControlName="secondCtrl" required
        (change)="onSelectSubCategory($event)">
        <option disabled value="" selected hidden>Choose Your Supcategory ... </option>
        <option *ngFor="let items of subcateg" [value]="items?.supCatId"> {{items.supCatTitle}}</option>

      </select>


      <!-- start button -->
      <div class="mt-5 border-top row">
        <div class="ml-5 text-left col ">

          <button class="btn btn-outline-default border mt-5 text-info  ml-5" mat-button
            matStepperPrevious>Previos</button>
        </div>
        <div class=" mr-5 text-right col">
          <button class="btn btn-outline-default border mt-5   ml-5" mat-button
            matStepperNext   [ngClass]="{'btn-danger':moveToStep3}" matStepperNext
            [disabled]="!moveToStep3">Continue</button>
        </div>
      </div>
      <!-- end button -->
    </form>
  </mat-step>
  <!-- end step two -->

  <!-- start step three -->
  <mat-step [stepControl]="courseFormGroup" [editable]="isEditable">
    <form [formGroup]="courseFormGroup">
      <ng-template matStepLabel>step 3</ng-template>
      <div class="h4 m-3 Video-header "> Course Landing page</div>
      <hr />
      <div class="form-group mr-5 ml-5  mb-5 ">
        <label class="Video-pragraph ">Course title</label><br />
        <div class="input-group ">
          <input type="text" class="form-control w-50 " placeholder="Insert your course title" formControlName="title"
            [(ngModel)]="title" (ngModelChange)="onTitleChange()"
            [ngClass]="{ 'is-invalid': submitted && f.title.errors }" maxlength="51" />
          <div class="input-group-append ">
            <span class="input-group-text ">{{titleLength}}</span>
          </div>

        </div>
        <!------- title validation------->
        <div *ngIf="submitted && f.title.errors" class="row text-danger">
          <div *ngIf="f.title.errors.required">
            title is required
          </div>
          <div *ngIf="f.title.errors.minlength">
            title must be at least 5 characters
          </div>
          <div *ngIf="f.title.errors.maxlength">
            title must be max 51 characters
          </div>
        </div>
      </div>


      <div class="form-group mt-5 mr-5 ml-5 ">
        <label class="Video-pragraph ">Course subtitle</label><br />
        <div class="input-group">
          <input type="text" class="form-control  w-50" placeholder="Insert your course subtitle"
            formControlName="subtitle" [(ngModel)]="subtitle" (ngModelChange)="onSubTitleChange()"
            [ngClass]="{ 'is-invalid': submitted && f.subtitle.errors }" maxlength="60" />
          <div class="input-group-append ">
            <span class="input-group-text ">{{subtitleLength}}</span>
          </div>
        </div>
        <!------- sub title validation------->
        <div *ngIf="submitted && f.subtitle.errors" class="row text-danger">
          <div *ngIf="f.subtitle.errors.required">
            subtitle is required
          </div>
          <div *ngIf="f.subtitle.errors.minlength">
            subtitle must be at least 5 characters
          </div>
          <div *ngIf="f.subtitle.errors.maxlength">
            subtitle must be max 60 characters
          </div>
        </div>

      </div>

      <div class="mt-5 mr-5 ml-5 ">
        <label class="Video-pragraph ">Course Description</label><br />
        <div class=" border ">
          <div class="border-bottom mt-2">
            <i class="fa fa-bold mr-4 ml-1" (click)="isBold =!isBold"></i>
            <i class="fa fa-italic" (click)="isItalic =!isItalic"></i>
          </div>
          <div class="m-1">
            <div class="form-group  ">
              <!-- <label for="Insert Your Course Description " class="Video-pragraph mt-4"> Insert Your Course
              Description</label> -->
              <textarea class="form-control text" id="Video-pragraph" rows="3" formControlName="description"
                [style.font-weight]="isBold ? 'bold' : 'normal'" [style.font-style]="isItalic ? 'italic' : 'normal'"
                placeholder="Insert Your Course Description"
                [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
            </div>
          </div>
        </div>
        <!------- description validation------->
        <div *ngIf="submitted && f.description.errors" class="row text-danger">
          <div *ngIf="f.description.errors.required">
            Description is required
          </div>
          <div *ngIf="f.description.errors.minlength">
            Description must be at least 5 characters
          </div>
          <div *ngIf="f.description.errors.maxlength">
            Description must be max 100 characters
          </div>
        </div>
      </div>

      <label class="Video-pragraph mt-5 mr-5 ml-5 ">Basic info</label><br />
      <div class="form-row  mr-5 ml-5 ">
        <div class="col-sm-12 col-lg-4 mt-1">
          <select id="inputState" class="form-select" formControlName="languge"
            [ngClass]="{ 'is-invalid': submitted && f.languge.errors }">
            <option value="" selected disabled>Select Languge</option>
            <option value="Arabic">Arabic</option>
            <option value="Bengali">Bengali</option>
            <option value="Chinese">Chinese</option>
            <option value="English">English</option>
            <option value="German">German</option>
            <option value="Hindi">Hindi</option>
            <option value="Japanese">Japanese</option>
            <option value="Portuguese">Portuguese</option>
            <option value="Russian">Russian</option>
            <option value="Spanish">Spanish</option>
          </select>
          <!------- languge validation------->
          <div *ngIf="submitted && f.languge.errors" class="text-danger">
            <div *ngIf="f.languge.errors.required">
              please select language
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-lg-4 mt-1">
          <select id="inputState" class="form-select" formControlName="levels"
            [ngClass]="{ 'is-invalid': submitted && f.levels.errors }">
            <option value="" selected disabled>Select Level</option>
            <option value="Beginner">Beginner</option>
            <option value="Intermediate">Intermediate</option>
            <option value="Advanced">Advanced</option>
          </select>
          <!------- levels validation------->
          <div *ngIf="submitted && f.levels.errors" class="text-danger">
            <div *ngIf="f.levels.errors.required">
              please select course level
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-lg-4 mt-1">
          <select id="inputState" class="form-select" formControlName="topId"
            [ngClass]="{ 'is-invalid': submitted && f.topId.errors }">
            <option disabled value="" selected hidden>Select Topic</option>
            <option *ngFor="let items of topics" [value]="items?.topId">{{items.topName}}</option>

          </select>
          <!------- topic id validation------->
          <div *ngIf="submitted && f.topId.errors" class="text-danger">
            <div *ngIf="f.topId.errors.required">
              please select a topic
            </div>
          </div>
        </div>
      </div>
      <div class="form-group m-5">
        <div>
          <div class="form-check form-check-inline  mr-5 ">
            <input class="form-check-input" type="radio" value=0 name="paymentMethod" id="inlineRadio1"
              (change)="changeMethod($event)" formControlName="paymentMethod">
            <label class="form-check-label mx-3" for="inlineRadio1">Free</label>
          </div>
          <div class="form-check form-check-inline  ml-5 ">
            <input class="form-check-input" type="radio" value=1 name="paymentMethod" (change)="changeMethod($event)"
              id="inlineRadio2" formControlName="paymentMethod">
            <label class="form-check-label mx-3" for="inlineRadio2">Paid</label>
          </div>
        </div>
        <!------- payment validation------->
        <div *ngIf="submitted && f.paymentMethod.errors" class="text-danger">
          <div *ngIf="f.paymentMethod.errors.required">
            Payment Method is required
          </div>
        </div>
      </div>
      <div class=" w-25 ml-5 ">
        <div *ngIf="showInput">
          <input type="text" class="form-control " placeholder="-0.00$" formControlName="price"
            [ngClass]="{ 'is-invalid': submitted && f.price.errors }" />
              <!------- price validation------->
        <div *ngIf="submitted && f.price.errors" class="text-danger">
          <div *ngIf="f.price.errors.required">
            please enter price
          </div>
        </div>
        </div>
      
      </div>
    </form>

    <form [formGroup]="crsImgForm">
      <label class="Video-pragraph mt-5 mr-5 ml-5 ">Course Image</label><br />
      <div class="row mx-5">
        <div class="col-sm-12 col-lg-6">
          <img [src]="url" class="w-100" alt="upload Image" />
        </div>
        <div class="col-sm-12 col-lg-6  mt-sm-2 mt-lg-5">
          <p class=" ml-3">UpLoad Your Course here. It must our course Image </p>
          <input type="file" class="form-control   ml-3" placeholder="Upload Image" formControlName="file" id="file"
            class="form-control" #file (change)="onSelectImg($event)" accept=".jpg,.png" />
            <div *ngIf="imgSubmitted && f2.file.errors" class=" mt-1 alert alert-danger">
              <div *ngIf="f2.file.errors.required">Image is required.</div>
          </div>
        </div>
      </div>
    </form>




    <!-- start button -->
    <div class="mt-5 border-top row">
      <div class="ml-5 text-left col ">

        <button class="btn btn-outline-default border mt-5 text-info  ml-5" mat-button
          matStepperPrevious>Previos</button>
      </div>
      <div class=" mr-5 text-right col">
        <button type="button" (click)="onSubmit(file.files)"
          class="btn btn-outline-default border mt-5   ml-5" mat-button
       matStepperNext [ngClass]="{'btn-danger':submitSuccess}">   Create   </button>
       <div class="row mt-2">
          <div *ngIf="loader" class="spinner-border text-secondary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div *ngIf="success" class="alert mt-3 alert-success alert-dismissible fade show m-auto" role="alert">
          <h4 class="mb-2">Course Created Successfly</h4>
          <a class="btn btn-light" [routerLink]="['/sidnav/ManageCourse/',courseId]"> Build your Course Now </a>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      </div>
    </div>
    <!-- end button -->

  </mat-step>
  <!-- end step three -->

</mat-horizontal-stepper>