*{
  margin-right: 0;
}

.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}
.Video-header{
  color:#444
}

.Video-pragraph{
  color:#999;

}


.text{
   border: 1px solid #fff;
}
.text:focus{
  border: 1px solid #fff;
}
.Text4{
 background-color: rgb(161, 161, 248);
 font-size: medium;
 line-height: 1.6;
}
.text5{
  font-size: medium;
line-height: 1.9;

}


