<div class="container">
    <pre>
</pre>
    <div class="row-fluid" style="height: 900px;">
        <div class="col">
        <div class=" Col-lg-8 col-sm-11">
        <img src="../../assets/comming.jpeg" class="rounded float-left " alt=""/><br><br><br><br><br><br><br>
        </div>
        <h1><b style="padding:30px; text-align: center; font-family:cursive;">Comming Soon</b></h1>
        <h3 style="font-family: cursive;" class="h">We are currently working on something awesome.stay tuned!</h3>
      <h3 style="font-family: cursive;" class="h">  We're working hard to finish the development of this site.</h3>
    </div>

    </div>
</div>

