<!-- <div class="navbar ">
    <ul>
        <li><a href="">
                <div class="rounded-circle d-flex mb-0">

                    <i class="fa fa-bell-o  fa-lg text-secondary " [popover]="myPopover1" [popoverOnHover]="true"
                        [popoverCloseOnMouseOutside]="true" popoverPlacement="left"></i>
                </div>
            </a></li>

        <li><a href="">
                <div class="rounded-circle d-flex justify-content-center bg-secondary" style="width: 60px; height: 60px"
                    [popover]="myPopover" [popoverOnHover]="true" [popoverCloseOnMouseOutside]="true">
                    <span class="h5 p-3 text-white">{{
                        genarteChar(myname)
                        }}</span>
                </div>
            </a>
        </li>


    </ul>

</div> -->

<!-- 
<popover-content #myPopover popoverPlacement="bottom right" [closeOnClickOutside]="true" [closeOnMouseOutside]="true">
    <div style=" width: 15rem; ">

        <div class="row">
            <div class="col "> <a href="">
                    <div class="rounded-circle d-flex justify-content-center  bg-secondary "
                        style="width: 60px; height: 60px">
                        <span class="h5 p-3 text-white">{{
                            genarteChar(myname)
                            }}</span>
                    </div>
                </a></div>
            <div class="col text-left mr-3 ">
                <p>Sara Galal</p>
                <p class="text-muted">saragalal@gmail.com</p>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-borderless" style="width: 18rem; text-align: left;">
                <tr>
                    <td> My notifications</td>
                </tr>
                <tr>
                    <td>Public Profile</td>
                </tr>
                <tr>
                    <td> Account</td>
                </tr>
                <tr>
                    <td>Payout settings</td>
                </tr>
                <tr>
                    <td> Logout</td>
                </tr>

            </table>
        </div>
        <div class="card-footer text-left">
            <h3>Udemy For Business</h3>
            <p>Bring learning to your company</p>
        </div>
    </div>
</popover-content>

<popover-content #myPopover1 [closeOnClickOutside]="true" [closeOnMouseOutside]="true">
    <div style=" width: 10rem; margin-top:5px;">
        <div class="row">
            <p class="h6">Notifications<i class="fa fa-gear text-secondary ml-5"></i></p>
        </div>
        <hr style="height: 0.2px;">
        <div class="row text-center">
            <p class="text-muted">No Notifications</p>
        </div>
    </div>
</popover-content> -->

<div class="container mt-5">
    <p class="h2">Profile & settings</p>
    <mat-tab-group mat-align-tabs="start" color="accent">
        <!-- Start Profile setting  -->
        <mat-tab label="Udemy Profile">
            <div class="mt-5">

                <form [formGroup]="editForm" (ngSubmit)="editFormSubmit()">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <!-- left inputs  -->
                                    <div class="col-md-6">
                                        <div class="form-group ">
                                            <label for="fname">Frist Name</label>
                                            <input type="text" class="  form-control inputWidth" id="fname"
                                                placeholder="Frist Name" formControlName="fname"
                                                [ngClass]="{ 'is-invalid': submitted && f2.fname.errors }">

                                            <!------- First Name validation------->
                                            <div *ngIf="submitted && f2.fname.errors"  class="invalid-feedback">
                                                <div *ngIf="f2.fname.errors.required">
                                                    First Name is required
                                                </div>
                                                <div *ngIf="f2.fname.errors.minlength">
                                                    First Name must be at least 5 characters
                                                </div>
                                                <div *ngIf="f2.fname.errors.maxlength">
                                                    First Name must be max 25 characters
                                                </div>
                                                <div *ngIf="f2.fname.errors.pattern">
                                                    contain only characters
                                                </div>
                                            </div>
                                        </div>


                                        <div class="form-group ">
                                            <label for="lname">Last Name</label>
                                            <input type="text" class="form-control inputWidth" id="lname"
                                                placeholder="Last Name" formControlName="lname"
                                                [ngClass]="{ 'is-invalid': submitted && f2.lname.errors }">

                                                 <!------- Last Name validation------->
                                            <div *ngIf="submitted && f2.lname.errors"  class="invalid-feedback">
                                                <div *ngIf="f2.lname.errors.minlength">
                                                    Last Name must be at least 5 characters
                                                </div>
                                                <div *ngIf="f2.lname.errors.maxlength">
                                                    Last Name must be max 25 characters
                                                </div>
                                                <div *ngIf="f2.lname.errors.pattern">
                                                    contain only characters
                                                </div>
                                            </div>
                                        </div>


                                        <div class="form-group ">
                                            <label for="Headline">Headline</label>
                                            <div class="input-group mb-2">

                                                <input type="text" class="form-control inputWidth" id="Headline"
                                                    placeholder="'Engineer at Udemy' or 'Architect'"
                                                    [(ngModel)]="headline" maxlength="60" formControlName="headLine"
                                                    (ngModelChange)="onChange()">
                                                <div class="input-group-append ">
                                                    <div class="input-group-text ">{{length}}</div>
                                                </div>
                                            </div>

                                        </div>



                                        <div class="form-group  ">

                                            <label for="Biography">Biography</label>
                                            <div
                                                class="input-group-prepend col-12 bg-white p-2 border border-bottom-0  rounded-top rounded-bottom-0">
                                                <div class=" border-0">
                                                    <i class="fa fa-bold mr-4 ml-1" (click)="isBold =!isBold"></i>
                                                    <i class="fa fa-italic" (click)="isItalic =!isItalic"></i>
                                                </div>
                                            </div>
                                            <textarea type="text" minlength="50"
                                                class="form-control inputWidth rounded-0" id="Biography"
                                                [style.font-weight]="isBold ? 'bold' : 'normal'"
                                                [style.font-style]="isItalic ? 'italic' : 'normal'"
                                                formControlName="biography"
                                                [ngClass]="{ 'is-invalid': submitted && f2.biography.errors }"></textarea>
                                            <p class="text-muted "><small>
                                                    Your biography should have at least 50 characters.</small></p>
                                        </div>


                                        <!-- <div class="form-group  ">

                                            <label for="Language">Language</label>
                                            <select class="custom-select inputWidth" id="Language" 
                                            formControlName="language">
                                                <option value="Arabic">Arabic</option>
                                                <option value="Bengali">Bengali</option>
                                                <option value="Chinese">Chinese</option>
                                                <option value="English">English</option>
                                                <option value="German">German</option>
                                                <option value="Hindi">Hindi</option>
                                                <option value="Japanese">Japanese</option>
                                                <option value="Portuguese">Portuguese</option>
                                                <option value="Russian">Russian</option>
                                                <option value="Spanish">Spanish</option>
                                            </select>
                                        </div> -->

                                    </div>
                                    <!-- right inputs  -->
                                    <div class="col-md-6">
                                        <div class="form-group ">
                                            <label for="address">Address</label>
                                            <input type="text" class="form-control inputWidth" id="address"
                                                placeholder="Address" formControlName="address"
                                                [ngClass]="{ 'is-invalid': submitted && f2.address.errors }">

                                                 <!------- address validation------->
                                            <div *ngIf="submitted && f2.address.errors"  class="invalid-feedback">
                                                <div *ngIf="f2.address.errors.minlength">
                                                    address must be at least 4 characters
                                                </div>
                                                <div *ngIf="f2.address.errors.maxlength">
                                                    address must be max 20 characters
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group ">
                                            <label for="phone">Phone</label>
                                            <input type="text" maxlength="25" class="form-control inputWidth" id="phone"
                                                placeholder="Phone" formControlName="phone"
                                                [ngClass]="{ 'is-invalid': submitted && f2.phone.errors }">
                                                
                                                <!------- address validation------->
                                            <div *ngIf="submitted && f2.phone.errors"  class="invalid-feedback">
                                                <div *ngIf="f2.phone.errors.pattern">
                                                   invalid phone number must be in form 02-0123456789 at least 7 digits
                                                </div>
                                            </div>  
                                        </div>





                                        <div class="form-group ">
                                            <label for="inlineFormInputGroup">Facebook</label>
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">http://www.facebook.com/</div>
                                                </div>
                                                <input type="text" class="form-control inputWidth" id="Facebook"
                                                    placeholder="Username">
                                            </div>
                                        </div>



                                        <div class="form-group ">
                                            <label for="LinkedIn">LinkedIn</label>
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">http://www.linkedin.com/</div>
                                                </div>
                                                <input type="text" class="form-control inputWidth" id="LinkedIn"
                                                    placeholder="Resourse ID">
                                            </div>
                                        </div>


                                        <div class="form-group ">
                                            <label for="Youtube">Youtube</label>
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">http://www.youtube.com/</div>
                                                </div>
                                                <input type="text" class="form-control inputWidth" id="Youtube"
                                                    placeholder="Username">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn right-align ml-2"
                            style="float: right; background-color: #EC5252; color: white;">Save</button>
                            <div class="row mt-2 ">
                                <div *ngIf="editloader" class="spinner-border text-secondary" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <div *ngIf="savedSuccess"
                                    class="alert mt-3 alert-success alert-dismissible fade show m-auto"
                                    role="alert">
                                    <h4 class="mb-2">Data Saved Successfully</h4>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                    </div>
                </form>

            </div>
        </mat-tab>
        <!-- End Profile setting  -->

        <!-- Start Profile Picture  -->
        <mat-tab label="Profile Picture">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <form [formGroup]="myForm">
                            <label class="h6">Image preview</label>
                            <div class=" mt-2 picDiv p-4 text-center rounded border img-thumbnail ">
                                <img [src]="url" width="200" height="200">
                            </div>

                            <div class="form-group mb-3 mt-3">
                                <input formControlName="file" id="file" type="file" class="form-control" #file
                                    (change)="onSelectImg($event)" accept=".jpg,.png">
                            </div>
                            <div *ngIf="imgSubmitted && f.file.errors" class="alert alert-danger">
                                <div *ngIf="f.file.errors.required">Image is required.</div>
                            </div>
                            <div *ngIf="imageloader" class="spinner-border text-secondary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="alert alert-success" role="alert" *ngIf="isAlert">
                                Image Saved Successfully <strong>100 %</strong>
                            </div>
                            <button type="submit" class="btn right-align mb-5" (click)="submitImg(file.files)"
                                style="float: right; background-color: #EC5252; color: white;">Save</button>

                        </form>

                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
            </div>

        </mat-tab>
        <!-- End Profile Picture  -->

        <mat-tab label="Privacy settings">Privacy settings</mat-tab>
    </mat-tab-group>
</div>