<div class="container" ><pre>   
</pre>
<div class="row-fluid" style="height: 900px;">
    <div class="logo">
        <div class="logo-imgg">
            <img src="../../assets/icon6.PNG">
        </div>
        
    </div>
    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <img src="../../assets/icon9.PNG" class="logo-img">
              <br>
              <br>

              <!-- <h5 class="card-title">Special title treatment</h5> -->
              <a href="#"  ><h2 style="text-align: center;">Test Vedio</h2></a>
              <p class="card-text">Get free feedback from Udemy video experts on your audio ,video ,and delivery.</p>
             
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <img src="../../assets/icon7.PNG" class="logo-img">
              <br>
              <br>

              <!-- <h5 class="card-title">Special title treatment</h5> -->
              <a href="#"  ><h2 style="text-align: center;">Marketplace Insights</h2></a>
              <p class="card-text">Get Udemy-wide market data to create succesful courses.</p>
             
            </div>
          </div>
        </div>
      </div>
</div>
</div> 