<!-- Link of Example https://dev.to/uzochukwueddie/build-a-password-strength-checker-with-angular-479d -->

<div class="strength">
    <ul class="strengthBar">
      <li class="point" [style.background-color]="bar0"></li>
      <li class="point" [style.background-color]="bar1"></li>
      <li class="point" [style.background-color]="bar2"></li>
      <li class="point" [style.background-color]="bar3"></li>
      <li class="msg">{{msg}}</li>
    </ul>
   
 
    <!-- <p [style.color]="msgColor">{{msg}}</p> -->
  </div>