<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Home</title>
  </head>
  <body>
    <div class="container">
      <h2 class="udlite-heading-xl top-categories--title--261i0">
        Top categories
      </h2>
     
        <div class="parent">

          <div class="header">
            <img alt="design"  src="https://s.udemycdn.com/home/top-categories/lohp-category-design.jpg"/>
          </div>
          <div class="footer"><h3>Design</h3></div>
        </div>
        <div class="parent">
          <div class="header">
            <img
              alt="music"
              src="https://s.udemycdn.com/home/top-categories/lohp-category-development.jpg"
            /></div>
          <div class="footer"><h3>Development</h3></div>
        </div>
        <div class="parent">
          <div class="header">
            <img alt="marketing" src="https://s.udemycdn.com/home/top-categories/lohp-category-marketing.jpg">
        </div>
          <div class="footer"><h3>Markting</h3></div>
        </div>
        <div class="parent">
          <div class="header">
            <img alt="it-and-software" src="https://s.udemycdn.com/home/top-categories/lohp-category-it-and-software.jpg">
        </div>
        <div class="footer"><h3>IT and Software</h3></div>
      </div>
        <div class="parent">
          <div class="header">
            <img alt="personal-development" src="https://s.udemycdn.com/home/top-categories/lohp-category-personal-development.jpg">
        </div>
        <div class="footer"><h3>Personal Development</h3></div>
      </div>
        <div class="parent">
          <div class="header">
            <img alt="business" src="https://s.udemycdn.com/home/top-categories/lohp-category-business.jpg">
        </div>
        <div class="footer"><h3>Business</h3></div>
      </div>
        <div class="parent">
          <div class="header">
            <img alt="photography" src="https://s.udemycdn.com/home/top-categories/lohp-category-photography.jpg">
        </div>
        <div class="footer"><h3>Photography</h3></div>
      </div>
        <div class="parent">
          <div class="header">
            <img alt="music" src="https://s.udemycdn.com/home/top-categories/lohp-category-music.jpg">
        </div>
        <div class="footer"><h3>Music</h3></div>
      </div>
    
      <div class="part2">
   <div class="container1">
    <img src="https://s.udemycdn.com/home/non-student-cta/udlite-lohp-promo-teacher.jpg" class="non-student-cta-image" alt="non student cta image" width="320" height="320">
  
    </div>
    <div class="container2">
      <h1 class="udlite-heading-xxl non-student-cta__header">Become an instructor</h1>
      <p>
Top instructors from around the world teach millions of students on Udemy. We provide the tools and skills to teach what you love.
</p>
<button class="button">StartTeachingToday</button>
    </div>
   </div>
  <hr>
   <div class="part3">

   
      <div class="container4">
      
        <h1 >Udemy for Business</h1>
        <p >
          Get unlimited access to 5,500+ of Udemy’s top courses for your team.
          </p>
          <button class="button1">Get Udemy For Business</button>
       </div>
       <div class="container3">
   <img src="https://s.udemycdn.com/home/non-student-cta/udlite-lohp-promo-ufb.jpg" alt="non student cta image" >
   </div>
   
   </div>
   <hr>
   <div class="part4">

    <div class="container5">
      <iframe  title="Mohamad Alaloush's Story" width="580" height="400" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" src="https://www.youtube.com/embed/QFIhEmOd6No/?autoplay=1"></iframe>
      </div>
    <div class="container6">
    
      <h1 >Transform Your Life Through Education</h1>
      <h3>
        Mohamad Alaloush launched a new career in software development by taking courses on Udemy. What will you be able to do?
      </h3>
        
     </div>
    
 
 </div>
 <div class="img1" >
 <img alt="Udemy" src="https://www.udemy.com/staticx/udemy/images/v6/logo-coral.svg" >
</div>
    </div>
  </body>
</html>
