<!-- start intro  -->
<section class="jumbotronT">

  <div class="bg-image intro">
    <div class="container " style="position:relative">
      <div class="row mt-5 mb-5">


        <div class=" col-md-6 col-sm-10  col-lg-5  card ">

          <div class="card-body ">
            <p class="card-text cardheader">Wake Up</p>
          </div>

          <div class="card-body ">
            <p class="card-text  text-wrap cardbody">
              Ambition accepted. Learn the latest skills to reach your professional goals</p>
          </div>

          <div class="card-body d-flex justify-content-center mb-2">
            <input class="form-control mr-sm-2 w-100 cardSearch" type="text" placeholder="What do you want to learn ?"
              [matAutocomplete]="auto" [(ngModel)]="searchText" [ngModelOptions]="{ standalone: true }">
            <mat-autocomplete #auto="matAutocomplete" class="mt-4">
              <mat-option *ngFor="let option of topic | filterByTopic:searchText;" [value]="option.topName"
                [routerLink]="['/topnav/topic/',option?.topId]">
                <i class="fa fa-search fa-sm fa-fw text-info"></i> {{option.topName}}
              </mat-option>
              <mat-option *ngFor="let option of Instructors | filterByIns:searchText;" [value]="option.fname"
                [routerLink]="['/topnav/InsProfile/',option?.instId]">
                <i class="fa fa-user fa-sm fa-fw text-info"></i> {{option.fname}}
              </mat-option>
              <mat-option *ngFor="let option of courses | filterByCrs:searchText;" [value]="option.title"
                [routerLink]="['/topnav/course/',option?.crsId]">
                <i class="fa fa-file fa-sm fa-fw text-info"></i> {{option.title}}
              </mat-option>
            </mat-autocomplete>
          </div>
        </div>


      </div>
    </div>
  </div>

</section>

<!-- end intro  -->

<!--Start text-->
<div class="m-3">
  <div class="h3 mt-5">
    A broad selection of courses
  </div>
  <div class="p text-secondary ">
    Choose from online video courses with new additions published every month
  </div>
</div>

<!--End text-->




<!--Start topics-->
<div class="ml-5 " *ngIf="topicview==true">
  <div class="row text-center">
    <div class="col-3">
      <div class="spinner-border text-secondary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div class="col-3">
      <div class="spinner-border text-secondary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div class="col-3">
      <div class="spinner-border text-secondary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div class="col-3">
      <div class="spinner-border text-secondary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
</div>
<div *ngIf="topicview==false" class=" container-fluid  d-flex justify-content-center ">
  <!--Start mat-tab-group-->
  <mat-tab-group color="white" class="p-4 ">
    <mat-tab *ngFor="let item of topic | slice:0:6" label={{item?.topName}}>
      <div class=" mt-3 border rounded">
        <div class="row m-2">
          <div class="col ">
            <div class="h3">Expand your career opportunities with {{item?.topName}}</div>
            <div class="p text-secondary">Whether you work in machine learning or finance,
              or are pursuing a career in web development or data science, this is
              one of the most important skills you can learn.
            </div>

            <button class="btn btn-outline-info mt-2 mb-3">Explore {{item?.topName}}</button>
          </div>
          <div class="col d-flex flex-row-reverse">
            <img src="../../assets/uhome1.jpg" class="rounded-circle imgs m-3">
          </div>
        </div>
        <div class="ml-5 col-md-11">
          <carousel [loop]="true" [cellsToScroll]="1" [objectFit]="'cover'" [lightDOM]="true"
            class="carousel--slider-alignment-students  w-100 ">


            <div class="carousel-cell " *ngFor="let course of item?.courses ">
              <div class="card card-border-none ">
                <img [routerLink]="['/topnav/course/',course?.crsId]" class="card-img-top img-fluid"
                  src="{{course?.imagePath }}" />
                <div class="card-body">
                  <h3 class="card-title" [routerLink]="['/topnav/course/',course?.crsId]"> {{course?.title}}</h3>
                  <div class="card-text">
                    <p> {{course?.instructor?.fname}} {{course?.instructor?.lname}}</p>
                    <span class="text-warning mr-3"> 4.5</span>
                    <i class="fa fa-star text-warning mr-1"></i>
                    <i class="fa fa-star text-warning mr-1"></i>
                    <i class="fa fa-star text-warning mr-1"></i>
                    <i class="fa fa-star text-warning mr-1"></i>
                    <i class="fa fa-star text-warning m-1"></i>
                    <span>({{course?.studentCourses?.length}})</span>
                    <p *ngIf="course?.paymentMethod==0">Free</p>
                    <p *ngIf="course?.paymentMethod==1">{{course?.price}} $</p>

                  </div>
                </div>
              </div>
            </div>


            <!-- <div class="row">
              <div class="col-lg-4" *ngFor="let course of item?.courses ">
                <div class="card card-border-none ">
                  <img [routerLink]="['/topnav/course/',course?.crsId]" class="card-img-top img-fluid"
                    src="{{course?.imagePath }}" />
                  <div class="card-body">
                    <h3 class="card-title" [routerLink]="['/topnav/course/',course?.crsId]"> {{course?.title}}</h3>
                    <div class="card-text">
                      <p> {{course?.instructor?.fname}} {{course?.instructor?.lname}}</p>
                      <span class="text-warning mr-3"> 4.5</span>
                      <i class="fa fa-star text-warning mr-1"></i>
                      <i class="fa fa-star text-warning mr-1"></i>
                      <i class="fa fa-star text-warning mr-1"></i>
                      <i class="fa fa-star text-warning mr-1"></i>
                      <i class="fa fa-star text-warning m-1"></i>
                      <span>({{course?.studentCourses?.length}})</span>
                      <p *ngIf="course?.paymentMethod==0">Free</p>
                      <p *ngIf="course?.paymentMethod==1">{{course?.price}} $</p>
  
                    </div>
                  </div>
                </div>
              </div>
            </div> -->

 </carousel>
        </div>

      </div>

    </mat-tab>
    <!-- <mat-tab label="Excel">
      <div class=" mt-3 border rounded">
        <div class="row m-2">
          <div class="col ">
            <div class="h3">Analyze and visualize data with Excel</div>
            <div class="p text-secondary">Regardless of the industry you work in,
              Microsoft Office Excel is an invaluable spreadsheet program for
              organizing and representing data. Excel offers functions,
            </div>

            <button class="btn btn-outline-info mt-2 mb-3">Explore Excel</button>
          </div>
          <div class="col d-flex flex-row-reverse">
            <img src="../../assets/uhome2.jpg" class="rounded-circle imgs m-3">
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Web Development">
      <div class=" mt-3 border rounded">
        <div class="row m-2">
          <div class="col ">
            <div class="h3">Build websites and applications with Web Development</div>
            <div class="p text-secondary">The world of web development is as wide as the internet itself. Much of our
              social and vocational lives play out on the internet, which prompts new industries aimed at creating,
              managing, and debugging the websites and applications that we increasingly rely on.
            </div>

            <button class="btn btn-outline-info mt-2 mb-3">Explore Web Development</button>
          </div>
          <div class="col d-flex flex-row-reverse">
            <img src="../../assets/uhome3.jpg" class="rounded-circle imgs m-3">
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="JavaScript">
      <div class=" mt-3 border rounded">
        <div class="row m-2">
          <div class="col ">
            <div class="h3">Grow your software development skills with JavaScript</div>
            <div class="p text-secondary">JavaScript is one of the most ubiquitous programming languages on the planet,
              mostly because it's the backbone of interactive web applications. On top of that, JavaScript is a great
              language for beginners because it gives them a chance to writ...

            </div>

            <button class="btn btn-outline-info mt-2 mb-3">Explore JavaScript</button>
          </div>
          <div class="col d-flex flex-row-reverse">
            <img src="../../assets/uhome4.jpg" class="rounded-circle imgs m-3">
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Data Science">
      <div class=" mt-3 border rounded">
        <div class="row m-2">
          <div class="col ">
            <div class="h3">Lead data-driven decisions with Data Science</div>
            <div class="p text-secondary">Data science is everywhere. Better data science practices are allowing
              corporations to cut unnecessary costs, automate computing, and analyze markets. Essentially, data science
              is the key to getting ahead in a competitive global climate.
            </div>

            <button class="btn btn-outline-info mt-2 mb-3">Explore Data Science</button>
          </div>
          <div class="col d-flex flex-row-reverse">
            <img src="../../assets/uhome5.jpg" class="rounded-circle imgs m-3">
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="AWS Certification">
      <div class=" mt-3 border rounded">
        <div class="row m-2">
          <div class="col ">
            <div class="h3">Become an expert in cloud computing with AWS Certification</div>
            <div class="p text-secondary">Because Amazon Web Services is a constantly evolving cloud ecosystem, staying
              up with new AWS services and features can be a chore. That’s why earning an AWS certification is such a
              great IT career move. In the eyes of future employers, you are ...
            </div>

            <button class="btn btn-outline-info mt-2 mb-3">Explore AWS Certification</button>
          </div>
          <div class="col d-flex flex-row-reverse">
            <img src="../../assets/uhome6.jpg" class="rounded-circle imgs m-3">
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Drawing">
      <div class=" mt-3 border rounded">
        <div class="row m-2">
          <div class="col ">
            <div class="h3">Expand your creative skillset with Drawing</div>
            <div class="p text-secondary">Besides being the foundation upon which most art forms are built, drawing is
              also an excellent way to relieve stress and feed your inner creativity. Drawing teaches us how to be
              observant, develop an attention to detail, and express ourselves.
            </div>

            <button class="btn btn-outline-info mt-2 mb-3">Explore Drawing</button>
          </div>
          <div class="col d-flex flex-row-reverse">
            <img src="../../assets/uhome7.jpg" class="rounded-circle imgs m-3">
          </div>
        </div>
      </div>
    </mat-tab> -->

  </mat-tab-group>
  <!--End  mat-tab-group-->
</div>
<!--End topics-->


<!--Start Students are viewing-->
<div class="row">
  <div class="h3 mt-5 ml-3">
    Students are viewing
  </div>
</div>
<div class=" container m-auto ">
  <div class="ml-5 " *ngIf="studenrview==true">
    <div class="row text-center">
      <div class="col-3">
        <div class="spinner-border text-secondary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div class="col-3">
        <div class="spinner-border text-secondary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div class="col-3">
        <div class="spinner-border text-secondary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div class="col-3">
        <div class="spinner-border text-secondary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>
  <!--Start mat-tab-group-->
  <mat-tab-group color="white">
    <mat-tab>
      <div>


        <div class="ml-5 " *ngIf="studenrview==false">
          <carousel [loop]="true" [cellsToScroll]="1" [objectFit]="'cover'" [lightDOM]="true"
            class="carousel--slider-alignment-students  w-100 ">


            <div class="carousel-cell " *ngFor="let course of courses ">
              <div class="card card-border-none ">
                <img [routerLink]="['/topnav/course/',course?.crsId]" class="card-img-top img-fluid"
                  src="{{course?.imagePath }}" />
                <div class="card-body">
                  <h3 class="card-title" [routerLink]="['/topnav/course/',course?.crsId]"> {{course?.title}}</h3>
                  <div class="card-text">
                    <p> {{course?.instructor?.fname}} {{course?.instructor?.lname}}</p>
                    <span class="text-warning mr-3"> 4.5</span>
                    <i class="fa fa-star text-warning mr-1"></i>
                    <i class="fa fa-star text-warning mr-1"></i>
                    <i class="fa fa-star text-warning mr-1"></i>
                    <i class="fa fa-star text-warning mr-1"></i>
                    <i class="fa fa-star text-warning m-1"></i>
                    <span>({{course?.studentCourses?.length}})</span>
                    <p *ngIf="course?.paymentMethod==0">Free</p>
                    <p *ngIf="course?.paymentMethod==1">{{course?.price}} $</p>

                  </div>
                </div>
              </div>
            </div>




          </carousel>
        </div>
      </div>
    </mat-tab>

  </mat-tab-group>
  <!--End  mat-tab-group-->
</div>

<!--End Students are viewing-->


<div class="row">
  <div class="h3 mt-5 ml-3">
    Top Categories
  </div>
</div>

<!-- Start of TopCategories-->
<div class="container-fluid  ">
  <div class="container ">
    <div class="row">
      <div class="card ml-2 mt-2" style="width: 16rem;" *ngFor="let item of categ"
        routerLink="/topnav/category/{{item.categoryId}}">
        <div class="row  ">
          <img alt="design" [src]="item.imgPath" width="100%" class="mt-1 rounded" />
        </div>
        <div class="row">
          <div class="card-body text-center">
            <h2 class="card-text">{{item.categoryName}}</h2>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
<!--End Of Top Categories-->


<!--Start Featured topics by category-->
<!-- <h1 class="b mt-3 mb-0">Featured topics by category</h1>
<table class="table table-borderless m-3" *ngFor="let item of TopCateg">
  <thead>
    <tr class="h5" >
      <th scope="col" >{{item.categoryName}}</th>
    
    </tr>
  </thead>
  <tbody >
    <tr>
    
      <td   >
        <h2 class="text-primary">Financial Analysis</h2>
        <p class="text-muted">27,537,753 students</p>
      </td>
      <td>
        <h2 class="text-primary">AWS Certification</h2>
        <p class="text-muted">27,537,753 students</p>
      </td>
      <td>
        <h2 class="text-primary">Photoshop</h2>
        <p class="text-muted">27,537,753 students</p>
      </td>
    </tr>
    <tr>
      <td>
        <h2 class="text-primary">Web Development</h2>
        <p class="text-muted">27,537,753 students</p>
      </td>
      <td>
        <h2 class="text-primary">SQL</h2>
        <p class="text-muted">27,537,753 students</p>
      </td>
      <td>
        <h2 class="text-primary">Ethical Hacking</h2>
        <p class="text-muted">27,537,753 students</p>
      </td>
    
    </tr> 
  </tbody>
  <tfoot>
 
  </tfoot>
</table> -->

<!--End Featured topics by category-->


<div class=" part2  ">
  <div class="container1">
    <img id="imagg" src="https://s.udemycdn.com/home/non-student-cta/udlite-lohp-promo-teacher.jpg"
      alt="non student cta image" class="mb-5">
  </div>
  <div href="instreg" class=" ml-2 container2">
    <div class="h3 mb-3">Become an instructor</div>
    <p>
      Top instructors from around the world teach millions of students on Udemy. We provide the tools and skills to
      teach what you love.
    </p>
    <button routerLink="/topnav/instreg" class="button btn btn-info">Start Teaching Today</button>
  </div>
</div>
<div class="part3 ">
  <div class="container4">

    <h1>Udemy for Business</h1>
    <p>
      Get unlimited access to 5,500+ of Udemy’s top courses for your team.
    </p>
    <a class="btn btn-info" routerLink="comming">Get Udemy For Business</a>
  </div>
  <div class="container3">
    <img src="https://s.udemycdn.com/home/non-student-cta/udlite-lohp-promo-ufb.jpg" alt="non student cta image">
  </div>


</div>
<hr class="bg-white border border-bottom-0 border-secondary border-5">

<div class="row m-auto pt-5 text-center">
  <div class="col-4 ">
    <iframe title="Mohamad Alaloush's Story" width="480" height="300" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""
      src="https://www.youtube.com/embed/QFIhEmOd6No/?autoplay=0"></iframe>
  </div>
  <div class="col-4 m-auto">

    <h1><b>Transform Your Life Through Education</b></h1>
    <h3>
      Mohamad Alaloush launched a new career in software development by taking courses on Udemy. What will you be able
      to do?
    </h3>

  </div>


</div>