body{
  overflow-x: hidden;
  margin: 0px;

}

.intro{
  background-image: url('../../assets/2.jpg'); 
  background-position: left;
   background-size: cover;
}
.container {
  width: 100%;
  overflow: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
  
}
#imag{

  height: 120px; 
width: 100%;
}
#best{
  padding: 1px;
}
.container .parent {
  list-style: none;
  float: left;
  width: 23%;
  /* height: 270px; */
  margin: 20px 10px 60px 10px;
  box-sizing: border-box;
}
.container .parent .footer:hover {
  opacity: 0.9;
  color: white;
  background-color: royalblue;
}
.container .parent .footer {
  width: 100%;
  height: 20%;
  line-height: 50px;
  margin-bottom: 0px;
  margin-left: 0px;
  border: 1px solid gainsboro;
  text-align: center;
  background-color: white;
}
.container .parent .header {
  width: 100%;
  height: 200px;
  margin-top: 0px;
}

.container .parent .header img {
  height: 100%;
  width: 100%;
  border-top-right-radius: 12px;
}

@media screen and (max-width: 1250px) {
  .container .parent {
    width: 25%;
    height: 25%;
    margin-left: 40px;
  }
}
@media screen and (max-width: 720px) {
  .container .parent {
    width: 25%;
    height: 25%;
    margin-left: 5px;
  }
}
@media screen and (max-width: 320px) {
  .container .parent {
    width: 20%;
    height: 20%;
    margin-left: 1px;
  }
}
@media screen and (max-width: 125px) {
  .container .parent {
    display: none;
  }
}

.part2 {
  margin-top: 10%;
  margin-left: 15%;
  margin-bottom: 80px;
}
.container1 {
  width: 40%;
  float: left;
}
.container2 {
  margin-top: 2%;
  padding: 50px;
  width: 50%;
  float: left;
  margin-left:0px;
  margin-bottom: 15%;
  background-color:#fbfbf8;
}
.container1 img {
  width: 100%;
  height: 100%;
}

.container2 p {
  font-size: large;

}
.container img {
  width: 100%;
  height: 100%;
}
.button {
  margin-top: 10px;
  background-color: #0F7C90;
  color: white;
  padding: 10px;
 
 

  font-weight:500;
}
.part3 {

  width: 100%;
  background-color: rgb(7, 61, 61);
  overflow: auto;
  height: 400px;
  margin-bottom: 10px;
}
hr {
  margin-top: 40px;
  width: 100%;
}
.container4 {
  margin-top: 10%;
  width: 35%;
  float: left;
  margin-left: 10%;
}
.container3 img {
  width: 35%;
  height: 395px;
  margin-left: 10%;
}
.container4 h1 {
  font-weight: 600;
    line-height: 1.2;
    letter-spacing: .1rem;
  color: white;
  /* text-align: center; */
}
.container4 p {
  font-size: large;
  /* text-align: center; */
  color: white;
}

.container5 {
  margin-top: 5%;
  width: 600px;
  float: left;
  margin-left: 10%;
}
.container6 {
  width: 40%;
  float: left;
  margin: 10px;
  margin-top:10%;
}
.container6 h1 {
  text-align: center;
  font-family: sf pro display,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -.02rem;
}
.container6 h3 {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
}
.part4 {
  width: 100%;
  overflow: auto;
  height: 500px;
  padding: 10px;
  margin-bottom: 60px;
}
.img1 {
  width: 10%;
  height: 20%;
}
.topcategdiv {
  margin-top: 5px;
  padding: 10px;
}
.topCat {
  font-weight: bold;
}
.jumbotronT {
  margin-top: 71px;
}

.cardheader {
  font-size: xx-large;
  color: black;
  font-family: cursive;
}
.cardbody {
  color: black;
  font-size: larger;
}
.cardSearch {
  padding: 25px;
}

.courasoulT {
  border: 3px solid black;
}
.root {
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  height: 60%;
  width: 100%;
  display: flex;
  border: 3px solid brown;
}
/* Tabs */
.example-large-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  margin-left: 10px;
  padding: 16px;
  border-radius: 8px;
}

.sliderParent {
  height: 500px;
  width: 100%;

}
.insideTabsTopPart{
  height:35%

}
.insideTabsdownPart{
  height:60%;
  width:100%;
  display:flex;
  justify-content: center;

}
/**/
.menuContainer {
  margin-top: 10px;
  height: 100%;
  width: 1300px;
  background-color:transparent;

}
.viewport {
  height: 100%;
  background:transparent;


}
.viewport::-webkit-scrollbar{

  margin-bottom: 10px;
  width:50px;
  height:50px;
  background-color: transparent;
}

.viewport::-webkit-scrollbar-thumb{
  background-color: transparent;
}
.viewport::-webkit-scrollbar-button{
  width:50px;
  background-color: white;
  border:2px solid black;
  border-radius:30px;
}
.viewport::-webkit-scrollbar-button:horizontal:increment{
  size: 3px;
  font-size: 2px;
 background:white;

}
.viewport::-webkit-scrollbar-button:horizontal:decrement{
 background-image: url("../../assets/8.jpg");

  }




.menuContainer .viewport .cdk-virtual-scroll-content-wrapper {
  display: flex;
  flex-direction: row;
}

/* .menuContainer .example-item {
  width: 50px;
  height: 100%;
  writing-mode: vertical-lr;
} */
.cardc{
  border:2px solid blue;
  border-radius:5px;
  margin-left: 10px;
  width:250px;
  height:230px;
  background-color: cadetblue;
  text-align: center;
  justify-content:center;

}

.insideVerticalScroller{
  margin-top:3px;
  border-radius:5px;
}








.carousel--slider-alignment{
  height:20rem !important;
 margin-bottom:0 ;
  position: fixed;


}

.carousel--slider-alignment-students{
  height:30rem !important;
  margin-bottom:0 ;
   position: static;
}
.carousel--slider-alignment p, .carousel--slider-alignment h3{
  margin: 0%;
}
/* .card-img-top{
 height: 30vh;
} */
.card-text p, .card-text span{
  color: rgb(129, 129, 129);
}
 p, span{
  color: rgb(129, 129, 129);
 }
.h3{
   /* font-size:5rem; */
    font-family: sf pro display,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -.02rem;
  
}

 .imgs{
   width: 35%;
 }
#imagg{
  width: 400px;
  height: 400px;
}