<pre>





</pre>
<div class="bg-dark" >
<div  class="container">
  <div class="row col m-5">
    <div class="col text-light">
     <h1>Python for Data Science and Machine Learning Bootcamp</h1>
     <p> Learn how to use NumPy, Pandas, Seaborn ,
       Matplotlib , Plotly , Scikit-Learn , Machine Learning, Tensorflow , and more!</p>
       <span class="text-warning mr-2">4.4</span>
       <span>
        <i class="fa fa-star text-warning mr-1"></i>
        <i class="fa fa-star text-warning mr-1"></i>
        <i class="fa fa-star text-warning mr-1"></i>
        <i class="fa fa-star text-warning mr-1"></i>
        <i class="fa fa-star text-warning m-1"></i>
       </span>
       <span class="mr-2">(100,829 ratings)
       </span>
       <span> number of students</span><br/>
       <span > Creat by </span><span class="text-info"> Name of auther</span>
    </div>

    <div class="col text-light">
      card
    </div>
  </div>
  </div>
</div>
